Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @Recidiviz/dads, @Recidiviz/doppler

[Schema] Enforce reasonable dates on StateAssessment (Recidiviz/recidiviz-data#40497)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/pipelines/metrics/incarceration/pipeline_test.py
Owners: none

[Schema] Enforce reasonable dates on StateDrugScreen (Recidiviz/recidiviz-data#40502)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Owners: none

[Schema] Enforce reasonable dates on StateEarlyDischarge (Recidiviz/recidiviz-data#40508)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Owners: none

[Admin Panel] Fix custom permissions highlighting (Recidiviz/recidiviz-data#40165)
  frontends/admin-panel/src/components/StateUserPermissions/StateUserPermissionsView.tsx
  frontends/admin-panel/src/components/StateUserPermissions/__tests__/utils.test.ts
  frontends/admin-panel/src/components/StateUserPermissions/utils.tsx
  frontends/admin-panel/src/types.ts
  recidiviz/auth/auth_endpoint.py
  recidiviz/tests/auth/auth_endpoint_test.py
Owners: none

[Sentencing] Add new PSI route permission for supervisors in Admin Panel (Recidiviz/recidiviz-data#40545)
  frontends/admin-panel/src/components/constants.ts
Owners: none

[Application Data Import] Bump memory & concurrency. Add missing roles to service account (Recidiviz/recidiviz-data#40537)
  recidiviz/tools/deploy/terraform/cloud-run.tf
Owners: none

Turn off product roster validations in staging (Recidiviz/recidiviz-data#40544)
  recidiviz/validation/configured_validations.py
Owners: none

[Justice Counts] Update Dockerfile to use Node v.20-alpine (Recidiviz/recidiviz-data#40564)
  Dockerfile.justice-counts
Owners: none

Impact Report Metrics: Add "Marked Submitted" and Split By System (Recidiviz/recidiviz-data#40536)
  recidiviz/aggregated_metrics/aggregated_metric_collection_config.py
  recidiviz/aggregated_metrics/configuration/collections/impact_reports.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/appsscript/automated_leadership_reports/CreateReport.js
  recidiviz/appsscript/automated_leadership_reports/QueryFunctions.js
Owners: none

[Ingest] Add UsXxRawDataImportDelegate to the template region (Recidiviz/recidiviz-data#40548)
  recidiviz/ingest/direct/templates/us_xx/us_xx_raw_data_import_delegate.py
Owners: none

[JII] Add group_name and workflow_execution_id to new docs to help migration (Recidiviz/recidiviz-data#40567)
  recidiviz/case_triage/jii/send_jii_texts.py
Owners: none

[US_TN] Add in "intake" group into Compliant Reporting Policy B opportunity record (Recidiviz/recidiviz-data#40550)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_transfer_to_compliant_reporting_2025_policy_record.py
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler

[Justice Counts] [1/n] Replace `dimension_to_other_sub_dimensions` with `dimension_to_other_sub_dimension_to_enabled_status` enable/disable functionality (Recidiviz/recidiviz-data#40527)
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/justice_counts/metric_setting.py
  recidiviz/justice_counts/metrics/metric_disaggregation_data.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/tests/justice_counts/metric_interface_test.py
Owners: none

[Justice Counts] Add Stepping Up Breakdowns To Jails Total Admissions, al Releases, and Total Daily Population (Recidiviz/recidiviz-data#40573)
  recidiviz/justice_counts/metrics/jails.py
Owners: none

[US_AZ] Change supervision level source (Recidiviz/recidiviz-data#40540)
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_supervision_periods.py
Owners: none

[Justice Counts] [2/n] Add endpoint to retrieve 'other sub-dimensions' for metric settings in admin panel (Recidiviz/recidiviz-data#40446)
  recidiviz/justice_counts/control_panel/routes/admin.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
Owners: none

PSI case disposition view (Recidiviz/recidiviz-data#37718)
  recidiviz/calculator/query/state/view_config.py
  recidiviz/calculator/query/state/views/sentencing/case_disposition.py
  recidiviz/calculator/query/state/views/sentencing/case_record.py
  recidiviz/calculator/query/state/views/sentencing/case_record_historical.py
  recidiviz/calculator/query/state/views/sentencing/client_record.py
  recidiviz/calculator/query/state/views/sentencing/client_record_historical.py
  recidiviz/calculator/query/state/views/sentencing/sentencing_views.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_case_disposition_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_case_template.py
  recidiviz/calculator/query/state/views/sentencing/us_ix/sentencing_client_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_case_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_client_template.py
  recidiviz/calculator/query/state/views/sentencing/us_nd/sentencing_staff_template.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Owners: @Recidiviz/doppler

Update null handling logic for projected dates (Recidiviz/recidiviz-data#40529)
  recidiviz/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_group_projected_dates.py
  recidiviz/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates.py
  recidiviz/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates_v1_states.py
  recidiviz/calculator/query/state/views/sentence_sessions/sentence_sessions_views.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_group_projected_dates_test.py
  recidiviz/tests/calculator/query/state/views/sentence_sessions/inferred_group_aggregated_sentence_projected_dates_test.py
Owners: none

[US_UT] Hydrate `projected_parole_release_date_external` (Recidiviz/recidiviz-data#40522)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_sentence_length.yaml
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_sentence_length.py
Owners: none

[US_IX][Workflows] Remove UA criteria from lsu (Recidiviz/recidiviz-data#40587)
  recidiviz/task_eligibility/criteria/state_specific/us_ix/lsir_level_low_for_90_days.py
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_transfer_to_limited_supervision_form.py
Owners: none

Adds PSI sentence starts to impact transitions (Recidiviz/recidiviz-data#40093)
  recidiviz/common/decarceral_impact_type.py
  recidiviz/outcome_metrics/product_transition_type.py
  recidiviz/outcome_metrics/views/transitions_view_builders/psi_case_insights.py
Owners: none

[US_AZ] Ingest charges from county (Recidiviz/recidiviz-data#40193)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_nonstate_sentence.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_views/view_nonstate_sentence.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#40613)
  Pipfile.lock
Owners: none

[US_TN] Cleaning StaffSupervisorPeriod (Recidiviz/recidiviz-data#40586)
  recidiviz/ingest/direct/regions/us_tn/ingest_views/view_StaffSupervisorPeriods.py
Owners: none

Don't send Metric Export pubsub if export is not launched (Recidiviz/recidiviz-data#40622)
  recidiviz/metrics/export/view_export_manager.py
Owners: none

[US_AZ] Update code file fixtures (Recidiviz/recidiviz-data#40629)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_NC] Reset NC ingest logic (keeping raw data configs) (Recidiviz/recidiviz-data#40546)
  recidiviz/ingest/direct/regions/us_nc/ingest_mappings/us_nc_incarceration_periods.yaml
  recidiviz/ingest/direct/regions/us_nc/ingest_mappings/us_nc_incarceration_state_person.yaml
  recidiviz/ingest/direct/regions/us_nc/ingest_views/view_incarceration_periods.py
  recidiviz/ingest/direct/regions/us_nc/ingest_views/view_incarceration_state_person.py
  recidiviz/ingest/direct/regions/us_nc/us_nc_custom_enum_parsers.py
  recidiviz/ingest/direct/regions/us_nc/us_nc_custom_parsers.py
  recidiviz/pipelines/utils/state_utils/us_nc/us_nc_incarceration_period_normalization_delegate.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
  recidiviz/validation/config/regions/us_nc/us_nc_validation_config.yaml
Owners: none

Fix syntax in raw data pruning script (Recidiviz/recidiviz-data#40624)
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
Owners: none

Adds autogenerated links to agg metrics gitbook pages (Recidiviz/recidiviz-data#40633)
  recidiviz/calculator/calculation_documentation_generator.py
Owners: none

[US_UT] Migrate all ingest view tests to new structure (Recidiviz/recidiviz-data#40636)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_employment_period.yaml
  recidiviz/ingest/direct/regions/us_ut/ingest_views/view_employment_period.py
Owners: none

[Email reminders] Add script IDs to readme (Recidiviz/recidiviz-data#40630)
  recidiviz/appsscript/login_reminders/README.js
Owners: none

[CI] Do not upgrade ubuntu packages for DB tests (Recidiviz/recidiviz-data#40680)
  .github/workflows/ci.yml
Owners: @Recidiviz/infra-review

[Justice Counts] Don't revert published reports to draft if edited via SFTP (Recidiviz/recidiviz-data#40625)
  recidiviz/justice_counts/bulk_upload/bulk_upload_metadata.py
  recidiviz/justice_counts/bulk_upload/workbook_uploader.py
  recidiviz/justice_counts/control_panel/routes/api.py
Owners: none

[JII] Send eligibility texts to all jii except those who received in last 90 days (Recidiviz/recidiviz-data#40677)
  recidiviz/case_triage/jii/send_jii_texts.py
Owners: none

[US_ND] Filter unreasonable sentence dates (Recidiviz/recidiviz-data#40678)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_sentence.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_sentence.py
Owners: none

[Insights][Bug] Update `RosterTicketService` to use `RosterChangeRequestResponseSchema` (Recidiviz/recidiviz-data#40414)
  recidiviz/outliers/roster_ticket_service.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/roster_ticket_service_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_roster_ticket_service_test.py
Owners: none

[Testing] Setup fixture generation from ingest view and test characteristic (Recidiviz/recidiviz-data#40627)
  recidiviz/ingest/direct/external_id_type_helpers.py
  recidiviz/tests/common/constants/state/external_id_types_test.py
  recidiviz/tests/ingest/direct/regions/base_ingest_test_cases.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
  recidiviz/tests/pipelines/utils/state_utils/state_calculation_config_manager_test.py
  recidiviz/tests/test_debug_helpers.py
  recidiviz/tools/ingest/testing/ingest_fixture_creation/generate_ingest_view_fixtures_for_test.py
  recidiviz/tools/ingest/testing/ingest_fixture_creation/pull_root_entity_filtered_raw_data_for_ingest_view.py
Owners: none

[CSG] Fix export (Recidiviz/recidiviz-data#40682)
  recidiviz/tools/export_csg_files.py
Owners: none

[US_OR] Make all ingest views local-only (Recidiviz/recidiviz-data#40689)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Incarceration_Incident.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Incarceration_Period.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Program_Assignment.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Risk_Assessment.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Sentences.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Staff.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_State_Person.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Supervision_Contact.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Supervision_Period.yaml
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Supervision_Violation_Responses.yaml
Owners: none

[US_ND] Ingest mapping changes for v2 sentences (Recidiviz/recidiviz-data#39677)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_docstars_sentence.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_sentence.yaml
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_sentence.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_docstars_sentence_status_snapshot.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_sentence.py
  recidiviz/ingest/direct/regions/us_nd/ingest_views/view_elite_sentence_status_snapshot.py
  recidiviz/validation/config/regions/us_nd/us_nd_validation_config.yaml
Owners: none

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/* @Recidiviz/infra-review

# DADS-owned code
recidiviz/research/ @Recidiviz/dads

# Doppler
recidiviz/airflow/* @Recidiviz/doppler
recidiviz/big_query/* @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/persistence/* @Recidiviz/doppler
recidiviz/pipelines/* @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler


# Polaris

# Justice Counts
