Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @Recidiviz/dads, @Recidiviz/doppler

[US_PA] Revise charges (Recidiviz/recidiviz-data#40152)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_charges_from_crim_hist.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_Senrec_v2.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_charges_from_crim_hist.py
Owners: none

Revert "[US_ME] ineligible for reclass if 30 days from release (v2) (Recidiviz/recidiviz-data#40045)" (Recidiviz/recidiviz-data#40287)
  recidiviz/task_eligibility/criteria/state_specific/us_me/incarceration_past_annual_classification_date.py
  recidiviz/task_eligibility/criteria/state_specific/us_me/incarceration_past_semi_annual_classification_date.py
  recidiviz/task_eligibility/utils/us_me_query_fragments.py
Owners: none

[Terraform] Clean up old references + resources for appengine (Recidiviz/recidiviz-data#40288)
  recidiviz/tools/deploy/terraform/app-engine.tf
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/cloud-memorystore.tf
  recidiviz/tools/deploy/terraform/cloud-run-admin-panel.tf
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
  recidiviz/tools/deploy/terraform/cloud-run.tf
  recidiviz/tools/deploy/terraform/cloud-scheduler.tf
  recidiviz/tools/deploy/terraform/cloud-sql.tf
  recidiviz/tools/deploy/terraform/cloud-task-queues.tf
  recidiviz/tools/deploy/terraform/cloud-workflows.tf
  recidiviz/tools/deploy/terraform/loadbalancer.tf
  recidiviz/tools/deploy/terraform/modules/state-sftp-download-resources/main.tf
  recidiviz/tools/deploy/terraform/networks.tf
  recidiviz/tools/deploy/terraform/providers.tf
  recidiviz/tools/deploy/terraform/variables.tf
Owners: none

[Testing] Prep for state-by-state migration of raw data fixtures (Recidiviz/recidiviz-data#40281)
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/raw_data_fixture.py
  recidiviz/tools/ingest/testing/raw_data_fixtures_generator.py
Owners: none

[US_AR] Slight join tweak in incarceration sentence status view (Recidiviz/recidiviz-data#40310)
  recidiviz/ingest/direct/regions/us_ar/ingest_views/view_incarceration_sentence_status.py
Owners: none

[Testing] Migrate OZ and "latest" only states to new raw fixture paths (Recidiviz/recidiviz-data#40311)
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/fixture_util_test.py
Owners: none

[US_AR] Migrate raw data fixtures for AR (Recidiviz/recidiviz-data#40314)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_PA] Add new role values from new roster (Recidiviz/recidiviz-data#40290)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_supervision_staff_periods_v2.yaml
Owners: none

[US_CA] Migrate raw data fixtures for CA (Recidiviz/recidiviz-data#40315)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_MO] Migrate raw data fixtures for MO (Recidiviz/recidiviz-data#40320)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_IA] Migrate raw data fixtures in IA (Recidiviz/recidiviz-data#40317)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[Tasks][US_TX] Add scheduled office contacts (Recidiviz/recidiviz-data#40330)
  recidiviz/calculator/query/state/views/workflows/firestore/us_tx_supervision_tasks_record.py
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler

[US_NE] Migrate raw data fixtures for NE (Recidiviz/recidiviz-data#40331)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

Set up `recidiviz/research` and add notebook (Recidiviz/recidiviz-data#39323)
  .github/scripts/check_notebooks_outputs.py
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pylintrc
  Dockerfile.case-triage-pathways.dockerignore
  Dockerfile.justice-counts.dockerignore
  recidiviz/pipelines/cloudbuild.pipelines.dev.gcloudignore
  recidiviz/tests/tools/validate_source_visibility_test.py
  recidiviz/tools/validate_source_visibility.py
  setup.cfg
Owners: @Recidiviz/infra-review, @Recidiviz/doppler

[US_PA] remove active cases (Recidiviz/recidiviz-data#40312)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_charges_from_crim_hist.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_views/view_charges_from_crim_hist.py
Owners: none

[US_MI] Migrate raw data fixtures for MI (Recidiviz/recidiviz-data#40329)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_UT] small updates (Recidiviz/recidiviz-data#40327)
  recidiviz/ingest/direct/regions/us_ut/us_ut_raw_data_import_delegate.py
  recidiviz/tools/deploy/terraform/cloud-run-jobs.tf
  recidiviz/tools/ingest/regions/us_ut/export_bq_to_ingest_bucket.py
  recidiviz/tools/ingest/regions/us_ut/sync_bq_mirror_to_ingest_bucket.py
Owners: none

[US_ND] Migrate raw data fixtures for ND (Recidiviz/recidiviz-data#40328)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_TX] Migrate raw data fixtures in TX (Recidiviz/recidiviz-data#40337)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_OR] Migrate raw data fixtures in OR (Recidiviz/recidiviz-data#40336)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_ME] Migrate raw data fixtures in ME (Recidiviz/recidiviz-data#40342)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_TN] Migrate raw data fixtures in TN (Recidiviz/recidiviz-data#40343)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_PA] Migrate raw data fixtures in PA (Recidiviz/recidiviz-data#40346)
  recidiviz/tests/ingest/direct/fixture_util.py
Owners: none

[US_IX] Add new enum raw text value for release reason (Recidiviz/recidiviz-data#40352)
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_incarceration_period.yaml
Owners: none

[US_OR] Turn off pipelines (Recidiviz/recidiviz-data#39670)
  recidiviz/ingest/direct/regions/us_or/manifest.yaml
  recidiviz/metrics/export/products/products.yaml
  recidiviz/pipelines/calculation_pipeline_templates.yaml
  recidiviz/tests/validation/validation_manager_test.py
Owners: @Recidiviz/doppler

[US_AR] Add ingest bucket with replication rules to recidiviz-ingest-us-ar project (Recidiviz/recidiviz-data#40275)
  recidiviz/tools/deploy/atmos/README.md
  recidiviz/tools/deploy/atmos/components/terraform/direct-ingest-gcs-service-account/README.md
  recidiviz/tools/deploy/atmos/components/terraform/direct-ingest-gcs-service-account/main.tf
  recidiviz/tools/deploy/atmos/components/terraform/direct-ingest-gcs-service-account/outputs.tf
  recidiviz/tools/deploy/atmos/components/terraform/direct-ingest-gcs-service-account/variables.tf
  recidiviz/tools/deploy/atmos/stacks/recidiviz-ingest-us-ar.yaml
Owners: none

[US_TN] adding historical counts exemptions (Recidiviz/recidiviz-data#40345)
  recidiviz/ingest/direct/raw_data/validations/configs/stable_historical_counts_table_validation_config.yaml
Owners: none

[US_TN] Separate out initial classification as separate TES (Recidiviz/recidiviz-data#37493)
  recidiviz/calculator/query/state/views/reference/workflows_opportunity_configs.py
  recidiviz/calculator/query/state/views/workflows/firestore/firestore_views.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_custody_level_downgrade_record.py
  recidiviz/calculator/query/state/views/workflows/firestore/us_tn_initial_classification_review_record.py
  recidiviz/calculator/query/state/views/workflows/us_tn/shared_ctes.py
  recidiviz/task_eligibility/criteria/general/has_initial_classification_in_state_prison_custody.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/initial_classification_review.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Owners: @Recidiviz/doppler

[US_TX] Add more in custody values (Recidiviz/recidiviz-data#40361)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_supervision_period.yaml
  recidiviz/ingest/direct/regions/us_tx/ingest_views/view_supervision_period.py
Owners: none

[UserMetrics] Provisioned user sessions bugfix (Recidiviz/recidiviz-data#40403)
  recidiviz/calculator/query/state/views/analyst_data/product_roster_archive_sessions_utils.py
Owners: none

[raw data] add zero-indexed exports (Recidiviz/recidiviz-data#40404)
  recidiviz/ingest/direct/raw_data/mixins/sequential_chunked_file_mixin.py
  recidiviz/ingest/direct/regions/us_ut/us_ut_raw_data_import_delegate.py
  recidiviz/tests/ingest/direct/raw_data/mixins/sequential_chunked_file_mixin_test.py
Owners: none

[Looker] Adds LookML autogeneration script for all observation views (Recidiviz/recidiviz-data#40091)
  recidiviz/observations/event_observation_big_query_view_builder.py
  recidiviz/observations/observation_big_query_view_collector.py
  recidiviz/observations/span_observation_big_query_view_builder.py
  recidiviz/tools/looker/observations/__init__.py
  recidiviz/tools/looker/observations/observations_lookml_generator.py
Owners: none

[US_NE] remapping conditional supervision from unknown to limited (Recidiviz/recidiviz-data#40350)
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_supervision_periods.yaml
Owners: none

[US_TN] Resolving errors from new TN data (Recidiviz/recidiviz-data#40405)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
Owners: none

[US_IX][Workflows] Fix failing validations for projected parole release date criteria (Recidiviz/recidiviz-data#40358)
  recidiviz/task_eligibility/criteria/general/projected_parole_release_date_within_18_months.py
  recidiviz/task_eligibility/criteria/general/projected_parole_release_date_within_1_year.py
  recidiviz/task_eligibility/criteria/general/projected_parole_release_date_within_6_months.py
  recidiviz/task_eligibility/criteria/general/projected_parole_release_date_within_7_years.py
Owners: none

[US_UT] Map interstate compact sentences better (Recidiviz/recidiviz-data#40283)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_supervision_period.yaml
  recidiviz/ingest/direct/regions/us_ut/us_ut_custom_enum_parsers.py
Owners: none

[Schema] Use state_person_staff_relationship_period in incarceration_staff_assignment_sessions_preprocessed (Recidiviz/recidiviz-data#40124)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
  recidiviz/calculator/query/state/views/sessions/incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/incarceration_staff_inferred_location_sessions.py
  recidiviz/calculator/query/state/views/sessions/sessions_views.py
  recidiviz/calculator/query/state/views/sessions/us_az/__init__.py
  recidiviz/calculator/query/state/views/sessions/us_az/us_az_incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_ix/us_ix_incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_me/us_me_incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/sessions/us_tn/us_tn_incarceration_staff_assignment_sessions_preprocessed.py
  recidiviz/calculator/query/state/views/workflows/firestore/resident_record_ctes.py
  recidiviz/view_registry/raw_data_reference_reasons.yaml
Owners: @Recidiviz/doppler

[US_UT] Map new assessment type (Recidiviz/recidiviz-data#40412)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_assessment.yaml
Owners: none

[US_CA] Bump intramonth changes (Recidiviz/recidiviz-data#40413)
  recidiviz/validation/config/regions/us_ca/us_ca_validation_config.yaml
Owners: none

[Testing] Enforce that mappings input_columns actually matches ingest view output schema (Recidiviz/recidiviz-data#40362)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_community_risk_level_assessment.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_program_assignment.yaml
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence.yaml
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_sentence_lengths.yaml
  recidiviz/ingest/direct/regions/us_ix/ingest_mappings/us_ix_parole_hearing_deadline.yaml
  recidiviz/ingest/direct/regions/us_me/ingest_mappings/us_me_supervision_staff_supervisor_period.yaml
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_sentence_status_snapshot.yaml
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_supervision_period.yaml
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_incarceration_period.yaml
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_supervision_period.yaml
  recidiviz/tests/ingest/direct/regions/base_ingest_test_cases.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
Owners: @Recidiviz/doppler

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/* @Recidiviz/infra-review

# DADS-owned code
recidiviz/research/ @Recidiviz/dads

# Doppler
recidiviz/airflow/* @Recidiviz/doppler
recidiviz/big_query/* @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/persistence/* @Recidiviz/doppler
recidiviz/pipelines/* @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler


# Polaris

# Justice Counts
