Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @Recidiviz/doppler, @Recidiviz/doppler-codeowners, @emilyemilyemilyemilyemilyemily

[US_ND] Add enum value (Recidiviz/recidiviz-data#44450)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
Owners: none

Revert "[airflow] add gcs-backed xcom for xcom greater than 1 mb (Recidiviz/recidiviz-data#44… (Recidiviz/recidiviz-data#44449)
  recidiviz/airflow/dags/monitoring/raw_data_file_tag_import_runs_sql_query_generator.py
  recidiviz/tools/deploy/terraform/cloud-composer.tf
  recidiviz/tools/deploy/terraform/modules/cloud-storage-bucket/outputs.tf
Owners: @Recidiviz/doppler

[US_NE] Few more fixes for export (Recidiviz/recidiviz-data#44427)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/tools/ingest/regions/us_ne/sql_to_gcs_export_tasks.py
Owners: @Recidiviz/doppler

[monitoring] update `JobRunType` to be `StrEnum` (Recidiviz/recidiviz-data#44454)
  recidiviz/airflow/dags/monitoring/job_run.py
  recidiviz/airflow/tests/monitoring/incident_history_builder_test.py
Owners: @Recidiviz/doppler

[US_UT] Update table relationships for ofndr_* tables V2 (Recidiviz/recidiviz-data#44418)
  recidiviz/tools/looker/generated/dashboards/raw_data/us_ut/us_ut_raw_data_person_details_prod.dashboard.lookml
  recidiviz/tools/looker/generated/dashboards/raw_data/us_ut/us_ut_raw_data_person_details_staging.dashboard.lookml
  recidiviz/tools/looker/generated/dashboards/raw_data/us_ut/us_ut_raw_data_person_details_template.dashboard.lookml
  recidiviz/tools/looker/generated/explores/raw_data/us_ut/us_ut_raw_data_template.explore.lkml
  recidiviz/tools/looker/generated_version_hash
Owners: @emilyemilyemilyemilyemilyemily

[monitoring] add runtime delegate, config classes (Recidiviz/recidiviz-data#44238)
  recidiviz/airflow/dags/monitoring/airflow_task_run_history_delegate.py
  recidiviz/airflow/dags/monitoring/airflow_task_runtime_delegate.py
  recidiviz/airflow/dags/monitoring/job_run.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_config_idempotency.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_graph_map_index_deadline.csv
  recidiviz/airflow/tests/fixtures/monitoring/test_mixed_status.csv
  recidiviz/airflow/tests/monitoring/airflow_task_runtime_delegate_test.py
  recidiviz/airflow/tests/monitoring/incident_history_builder_test.py
  recidiviz/airflow/tests/monitoring/job_run_test.py
  recidiviz/airflow/tests/raw_data/initialize_raw_data_dag_group_test.py
  recidiviz/airflow/tests/test_utils.py
Owners: @Recidiviz/doppler

[US_AZ] Filter unreasonable violation and response dates (Recidiviz/recidiviz-data#44332)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_supervision_violation.yaml
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Owners: @Recidiviz/doppler

[Cleanup] Remove ingest_instance, state_code_filter and sandbox_prefix args from the calc DAG (Recidiviz/recidiviz-data#43279)
  frontends/admin-panel/src/AdminPanelAPI/IngestOperations.ts
  frontends/admin-panel/src/components/IngestStatus/FlashChecklist/ProceedWithFlashChecklist.tsx
  recidiviz/admin_panel/routes/ingest_ops.py
  recidiviz/airflow/dags/calculation/initialize_calculation_dag_group.py
  recidiviz/airflow/dags/monitoring/dag_registry.py
  recidiviz/airflow/tests/calculation/initialize_calculation_dag_group_test.py
  recidiviz/airflow/tests/calculation_dag_test.py
  recidiviz/tools/deploy/atmos/stacks/recidiviz-123.yaml
  recidiviz/tools/deploy/atmos/stacks/recidiviz-staging.yaml
  recidiviz/tools/deploy/trigger_post_deploy_tasks.py
  recidiviz/utils/trigger_dag_helpers.py
Owners: @Recidiviz/doppler

[US_TN] Make annual and initial class mutually exclusive (Recidiviz/recidiviz-data#44365)
  recidiviz/task_eligibility/eligibility_spans/us_tn/annual_reclassification_review.py
Owners: none

[Tools] Enforce input_columns types in run_mappings_against_ingest_view_results (Recidiviz/recidiviz-data#44428)
  recidiviz/tools/ingest/development/run_mappings_against_ingest_view_results.py
Owners: none

[US_MI][Workflows] Exclude clients from ED and CR that are nearing their FTRD. (Recidiviz/recidiviz-data#44217)
  recidiviz/task_eligibility/criteria/general/supervision_not_past_full_term_completion_date_or_upcoming_30_days.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_full_term_discharge_from_supervision.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_initial_classification_review_form.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_subsequent_classification_review_form.py
Owners: none

[US_IA] Test IPs in Iowa with interstate compact case (Recidiviz/recidiviz-data#44340)
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Owners: @Recidiviz/doppler

[Validation] Allow date but not datetime values in date attr_validators (Recidiviz/recidiviz-data#44466)
  recidiviz/common/attr_validators.py
  recidiviz/tests/common/attr_validators_test.py
Owners: none

[US_TN] Remove effective date from statuses (for now) (Recidiviz/recidiviz-data#44511)
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_sentence_normalization_delegate.py
Owners: @Recidiviz/doppler

[US_UT] Filter out unnecessary assessments and clean up assessment ingest view and mappings (Recidiviz/recidiviz-data#44503)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_assessment.yaml
Owners: none

[US_IA][Workflows] Create flag for open interventions (Recidiviz/recidiviz-data#44515)
  recidiviz/task_eligibility/utils/us_ia_query_fragments.py
Owners: none

[looker] Only treat documented columns as documented (Recidiviz/recidiviz-data#44475)
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/tests/tools/looker/raw_data/person_details_generator_test_utils.py
  recidiviz/tools/looker/generated_version_hash
  recidiviz/tools/looker/raw_data/person_details_view_generator.py
Owners: none

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/** @Recidiviz/infra-review

# DADS-owned code

# Doppler
#  For Doppler-owned files, files with a high volume of edits are assigned to the @Recidiviz/doppler-codeowners group,
#  which assigns a single reviewer via round robin. For more critical files with a lower volume of edits, we assign the
#  @Recidiviz/doppler group which is configured so all team members are added to each review.
recidiviz/airflow/** @Recidiviz/doppler
recidiviz/big_query/** @Recidiviz/doppler
recidiviz/calculator/query/state/views/reference/product_person_external_id_helpers.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py @Recidiviz/doppler
recidiviz/persistence/** @Recidiviz/doppler
recidiviz/pipelines/** @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
recidiviz/tests/calculator/query/state/views/reference/product_person_external_id_helpers_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler-codeowners
recidiviz/tools/looker/generated/** @emilyemilyemilyemilyemilyemily
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler-codeowners

# Polaris

# Justice Counts
