Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @nichelle-hall, @roshcagra, @Recidiviz/polaris, @Recidiviz/polaris-insights, @Recidiviz/polaris-workflows, @Recidiviz/doppler, @Recidiviz/doppler-codeowners, @ageiduschek,

[Debugging] Better Claude safeguards (Recidiviz/recidiviz-data#47306)
  .claude/settings.json
Owners: none

[admin panel] update typescript 4.6.2 -> 5.5 (Recidiviz/recidiviz-data#46892)
  frontends/admin-panel/package.json
  frontends/admin-panel/src/components/IngestStatus/IngestActionButton.tsx
  frontends/admin-panel/src/components/IngestStatus/IngestDataflowCurrentStatusSummary.tsx
  frontends/admin-panel/src/components/POEmails/GenerateEmails.tsx
  frontends/admin-panel/src/components/POEmails/SendEmails.tsx
  frontends/admin-panel/src/components/Utilities/ActionRegionConfirmationForm.tsx
  frontends/admin-panel/src/components/Validation/ValidationCategoryFullResultsTable.tsx
  frontends/admin-panel/src/components/Validation/ValidationFailureTable.tsx
  frontends/admin-panel/src/components/general/StateSelectorPageHeader.tsx
  frontends/admin-panel/yarn.lock
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_dataflow_job.csv
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_dataflow_raw_table_upper_bounds.csv
Owners: none

[lineage] add new packages (Recidiviz/recidiviz-data#46982)
  frontends/admin-panel/package.json
  frontends/admin-panel/yarn.lock
Owners: none

[deploy] Add looker CP support and fix deploy version bug (Recidiviz/recidiviz-data#47224)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
  recidiviz/tools/deploy/cut_release_candidate.sh
  recidiviz/tools/deploy/deploy_alpha_to_staging.sh
  recidiviz/tools/deploy/deploy_helpers.sh
  recidiviz/tools/deploy/deploy_local_to_staging.sh
  recidiviz/tools/deploy/terraform_plan.sh
  recidiviz/tools/script_base.sh
Owners: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#47459)
  Pipfile.lock
Owners: none

[lineage] add stores (Recidiviz/recidiviz-data#46983)
  frontends/admin-panel/src/AdminPanelAPI/LineageAPI.ts
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/LineageRootContext.tsx
  frontends/admin-panel/src/LineageStore/LineageRootStore.ts
  frontends/admin-panel/src/LineageStore/LineageStore.ts
  frontends/admin-panel/src/LineageStore/Utils.ts
  frontends/admin-panel/src/LineageStore/__fixtures__/FetchNodeFixture.ts
  frontends/admin-panel/src/LineageStore/__tests__/LineageStore.test.ts
  frontends/admin-panel/src/LineageStore/__tests__/__snapshots__/LineageStore.test.ts.snap
  frontends/admin-panel/src/LineageStore/types.ts
  frontends/admin-panel/src/components/Lineage/GraphNode/NodeBuilder.tsx
  frontends/admin-panel/src/components/Lineage/Layout/LayoutEngine.ts
  frontends/admin-panel/src/components/Lineage/Layout/SimpleEngine.ts
Owners: none

[cleanup] remove old links to app engine logs (Recidiviz/recidiviz-data#47466)
  frontends/admin-panel/src/components/IngestStatus/IngestDataflowInstanceCard.tsx
  frontends/admin-panel/src/components/IngestStatus/IngestDataflowStateSpecificMetadata.tsx
  frontends/admin-panel/src/components/IngestStatus/constants.ts
Owners: none

[CI] Fix postgres flakes by using a random port each time we try to start Postgres (Recidiviz/recidiviz-data#47467)
  recidiviz/airflow/tests/test_utils.py
  recidiviz/resource_search/src/settings.py
  recidiviz/tests/admin_panel/ingest_dataflow_operations_test.py
  recidiviz/tests/admin_panel/ingest_operations_store_test.py
  recidiviz/tests/admin_panel/routes/email_reporting_test.py
  recidiviz/tests/application_data_import/server_test.py
  recidiviz/tests/auth/auth_endpoint_test.py
  recidiviz/tests/auth/auth_users_endpoint_test.py
  recidiviz/tests/case_triage/pathways/metrics/base_metrics_test.py
  recidiviz/tests/case_triage/pathways/pathways_routes_test.py
  recidiviz/tests/cloud_sql/gcs_import_to_cloud_sql_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_dataflow_job_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_dataflow_watermark_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_data_flash_status_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_data_resource_lock_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_metadata_manager_test.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/insights/insights_db_test_case.py
  recidiviz/tests/justice_counts/control_panel/admin_test.py
  recidiviz/tests/justice_counts/utils/utils.py
  recidiviz/tests/persistence/database/migrations_test.py
  recidiviz/tests/persistence/database/schema/justice_counts/schema_test.py
  recidiviz/tests/persistence/database/schema/operations/schema_test.py
  recidiviz/tests/test_setup_utils.py
  recidiviz/tests/tools/admin_panel/load_operations_db_fixtures_test.py
  recidiviz/tests/tools/auth/cleanup_user_overrides_test.py
  recidiviz/tests/tools/auth/delete_blocked_users_test.py
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tests/tools/ingest/operations/helpers/invalidate_operations_db_files_controller_test.py
  recidiviz/tests/tools/pathways/load_fixtures_test.py
  recidiviz/tests/workflows/querier/querier_test.py
  recidiviz/tools/create_enum_migration.py
  recidiviz/tools/migrations/autogenerate_migration.py
  recidiviz/tools/migrations/migration_helpers.py
  recidiviz/tools/postgres/local_persistence_helpers.py
  recidiviz/tools/postgres/local_postgres_helpers.py
Owners: @Recidiviz/doppler

[lineage] add api routes (Recidiviz/recidiviz-data#46998)
  recidiviz/admin_panel/admin_stores.py
  recidiviz/admin_panel/ingest_operations_store.py
  recidiviz/admin_panel/lineage_store.py
  recidiviz/admin_panel/models/lineage_api_schemas.py
  recidiviz/admin_panel/routes/lineage.py
  recidiviz/admin_panel/server.py
  recidiviz/entrypoints/sentencing/datasets.py
  recidiviz/entrypoints/sentencing/write_case_insights_data_to_bq.py
  recidiviz/source_tables/sentencing_source_table_collection.py
  recidiviz/tests/admin_panel/lineage_store_test.py
  recidiviz/tests/admin_panel/routes/lineage_test.py
  recidiviz/tools/validate_source_visibility.py
Owners: @Recidiviz/doppler

[US_MI] Fix stable historical counts exemption for COMS_Case_Managers file (Recidiviz/recidiviz-data#47488)
  recidiviz/ingest/direct/raw_data/validations/configs/stable_historical_counts_table_validation_config.yaml
Owners: none

[lineage] add layout engines (Recidiviz/recidiviz-data#46999)
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/components/Lineage/Layout/DagreEngine.ts
  frontends/admin-panel/src/components/Lineage/Layout/ElkEngine.ts
Owners: none

[preimport validations] Refactor validations to run one query per validation per table (Recidiviz/recidiviz-data#47453)
  recidiviz/airflow/tests/raw_data_import_dag_test.py
  recidiviz/big_query/big_query_utils.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/raw_data/validations/datetime_parsers_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/datetime_parsers_validation.py
  recidiviz/ingest/direct/raw_data/validations/distinct_primary_key_validation.py
  recidiviz/ingest/direct/raw_data/validations/expected_type_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/expected_type_validation.py
  recidiviz/ingest/direct/raw_data/validations/known_values_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/known_values_validation.py
  recidiviz/ingest/direct/raw_data/validations/nonnull_values_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/nonnull_values_validation.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_validation.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_validation_config.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation_collector.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation_factory.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/datetime_parsers_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/datetime_parsers_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/distinct_primary_key_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/expected_type_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/expected_type_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/import_blocking_validation_test_case.py
  recidiviz/tests/ingest/direct/raw_data/validations/known_values_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/known_values_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/nonnull_values_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/nonnull_values_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_validation_config_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_validation_test.py
  recidiviz/tests/ingest/direct/types/raw_data_import_blocking_validation_collector_test.py
  recidiviz/tools/validate_source_visibility.py
Owners: @Recidiviz/doppler

[raw data] Add ability to optionally filter columns pulled from the raw data (Recidiviz/recidiviz-data#47475)
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
Owners: none

[Workflows][US_IA] Add new sidebar component for IA ED IC-OUT clients (Recidiviz/recidiviz-data#47471)
  frontends/admin-panel/src/components/Workflows/OpportunityConfiguration/fieldComponents/SidebarComponents.tsx
Owners: none

[Meetings] Create officer and client views (Recidiviz/recidiviz-data#47219)
  recidiviz/metrics/export/export_config.py
  recidiviz/metrics/export/products/products.yaml
  recidiviz/view_registry/deployed_views.py
Owners: none

[lineage] add graph component nodes (Recidiviz/recidiviz-data#47000)
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNode.css
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNode.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeExpandComponent.tsx
  frontends/admin-panel/src/components/Utilities/GeneralUtilities.tsx
Owners: none

[lineage] actually add graph, routes (Recidiviz/recidiviz-data#47001)
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/Lineage/Lineage.tsx
  frontends/admin-panel/src/components/Lineage/LineageGraph.css
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  frontends/admin-panel/src/components/Utilities/GeneralUtilities.tsx
  frontends/admin-panel/src/navigation/Lineage.ts
Owners: none

[TES] Add utils method for extracting reasons values from TES json (Recidiviz/recidiviz-data#47262)
  recidiviz/task_eligibility/task_criteria_big_query_view_builder.py
  recidiviz/task_eligibility/utils/reasons_field_query_fragments.py
  recidiviz/tests/task_eligibility/utils/__init__.py
  recidiviz/tests/task_eligibility/utils/reasons_field_query_fragments_tests.py
Owners: none

[lineage] allow for dragging, highlighting (Recidiviz/recidiviz-data#47493)
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNode.css
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
Owners: none

Add attribute combining eligibility & almost-eligibility (Recidiviz/recidiviz-data#47538)
  .pre-commit-config.yaml
Owners: none

[US_UT] Add config for new raw data (Recidiviz/recidiviz-data#47542)
  recidiviz/tools/ingest/regions/us_ut/sync_bq_mirror_to_ingest_bucket.py
Owners: none

[US_IX] Removes parolees from early discharge opportunity (Recidiviz/recidiviz-data#47184)
  recidiviz/task_eligibility/eligibility_spans/us_ix/complete_discharge_early_from_parole_dual_supervision_request.py
Owners: none

[raw data config writer] Remove old writer (Recidiviz/recidiviz-data#47500)
  recidiviz/ingest/direct/raw_data/raw_data_ruamel_yaml_update.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_yaml_writer_fixtures/us_ll_basicData.yaml
  recidiviz/tests/ingest/direct/raw_data/raw_data_yaml_writer_fixtures/us_ll_newDataSource.yaml
  recidiviz/tests/ingest/direct/raw_data/raw_data_yaml_writer_fixtures/us_ll_noValidPrimaryKeys.yaml
  recidiviz/tests/ingest/direct/raw_data/raw_data_yaml_writer_test.py
  recidiviz/tests/tools/ingest/development/raw_data_config_writer_test.py
  recidiviz/tools/ingest/development/raw_data_config_writer.py
Owners: none

[raw data] Allow incremental files to have no_valid_primary_keys=True (Recidiviz/recidiviz-data#47499)
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_tagColumnRenamed.yaml
  recidiviz/tests/ingest/direct/raw_data/raw_file_configs_test.py
Owners: none

[lineage] a few ui updates (Recidiviz/recidiviz-data#47543)
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/components/Lineage/Layout/DagreEngine.ts
  frontends/admin-panel/src/components/Lineage/Layout/LayoutEngine.ts
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  recidiviz/admin_panel/models/lineage_api_schemas.py
Owners: none

[US_OZ] Update raw data yamls and ingest mappings for raw data pruning testing (Recidiviz/recidiviz-data#47523)
  recidiviz/ingest/direct/regions/us_oz/ingest_mappings/us_oz_eg_movements.yaml
  recidiviz/ingest/direct/regions/us_oz/us_oz_raw_data_import_delegate.py
Owners: none

[BUG] Update fixture loading to use raw file configs (Recidiviz/recidiviz-data#47583)
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/tests/ingest/direct/direct_ingest_raw_fixture_loader.py
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/raw_data_fixture.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tools/ingest/testing/ingest_fixture_creation/generate_ingest_view_fixtures_for_test.py
Owners: @Recidiviz/doppler

[US_OZ] Enable pruning in Oz secondary (Recidiviz/recidiviz-data#47585)
  recidiviz/ingest/direct/gating.py
Owners: none

[Reentry] Add new role for Case Planning Assistant staff (Recidiviz/recidiviz-data#47589)
  recidiviz/auth/constants.py
Owners: none

[bq] dont build latest views for raw file we dont know how to build latest views for (Recidiviz/recidiviz-data#47604)
  recidiviz/view_registry/deployed_view_external_id_exemptions.py
Owners: @ageiduschek,, @Recidiviz/doppler-codeowners

[raw data pruning] Rename pruning datasets (Recidiviz/recidiviz-data#47648)
  frontends/admin-panel/src/components/IngestStatus/FlashChecklist/CancelReimportChecklist.tsx
  frontends/admin-panel/src/components/IngestStatus/FlashChecklist/ProceedWithFlashChecklist.tsx
  recidiviz/ingest/direct/dataset_config.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
Owners: none

[US_AZ] Use raw text for supervision level in US_AZ (Recidiviz/recidiviz-data#47592)
  recidiviz/ingest/direct/regions/us_az/us_az_custom_enum_parsers.py
Owners: none

[deploy] Overwrite temp looker dir if the git repo is in a bad state (Recidiviz/recidiviz-data#47655)
  recidiviz/tools/deploy/looker_helpers.sh
Owners: none

[tests] Log which files have changed in ingest_mappings_schema_documentation_generator (Recidiviz/recidiviz-data#47654)
  recidiviz/tools/docs/ingest_mappings_schema_documentation_generator.py
Owners: none

Adds email as static attribute for supervision_unit unit of analysis (Recidiviz/recidiviz-data#47675)
  recidiviz/aggregated_metrics/models/metric_unit_of_analysis_type.py
Owners: none

[raw data import] Populate deleted/net new rows for pruned files (Recidiviz/recidiviz-data#47658)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/raw_data/raw_data_pruning_utils.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_pruning_utils_test.py
  recidiviz/tools/validate_source_visibility.py
Owners: @Recidiviz/doppler

[US_TN] Correctly close out safekeeping periods even when period marking edge gets dropped (Recidiviz/recidiviz-data#47656)
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_tn/us_tn_incarceration_period_normalization_delegate_test.py
Owners: @Recidiviz/doppler

[deploy] Fix last_version_tag_on_branch (Recidiviz/recidiviz-data#47701)
  recidiviz/tools/deploy/deploy_helpers.sh
Owners: none

[US_AZ] Split Violations & Legal Status criteria up (Recidiviz/recidiviz-data#47662)
  recidiviz/task_eligibility/eligibility_spans/us_az/overdue_for_recidiviz_dtp_request.py
Owners: none

[US_MI] [CLD] add almost eligibles (Recidiviz/recidiviz-data#47657)
  recidiviz/task_eligibility/eligibility_spans/us_mi/custody_level_downgrade.py
Owners: none

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/** @Recidiviz/infra-review

# DADS-owned code

# R&D-owned code
recidiviz/persistence/**/resource_search/** @nichelle-hall @roshcagra

# Polaris-owned code
recidiviz/persistence/**/case_triage/** @Recidiviz/polaris
recidiviz/persistence/**/insights/** @Recidiviz/polaris-insights
# The JC database should never be updated anymore
recidiviz/persistence/**/justice_counts/** @Recidiviz/polaris
recidiviz/persistence/**/pathways/** @Recidiviz/polaris
recidiviz/persistence/**/workflows/** @Recidiviz/polaris-workflows

# Doppler
#  For Doppler-owned files, files with a high volume of edits are assigned to the @Recidiviz/doppler-codeowners group,
#  which assigns a single reviewer via round robin. For more critical files with a lower volume of edits, we assign the
#  @Recidiviz/doppler group which is configured so all team members are added to each review.
recidiviz/airflow/** @Recidiviz/doppler
recidiviz/big_query/** @Recidiviz/doppler
recidiviz/calculator/query/state/views/reference/product_person_external_id_helpers.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py @Recidiviz/doppler-codeowners
recidiviz/persistence/** @Recidiviz/doppler
recidiviz/pipelines/** @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
# TODO(#41554): Once all exemptions have been removed from this test file, we can remove Doppler ownership
recidiviz/tests/calculator/query/state/views/reference/workflows_opportunity_configs_test.py @Recidiviz/doppler
recidiviz/tests/calculator/query/state/views/reference/product_person_external_id_helpers_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler-codeowners
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/deployed_view_external_id_exemptions.py @ageiduschek, @Recidiviz/doppler-codeowners
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler-codeowners
