Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @nichelle-hall, @roshcagra, @Recidiviz/polaris, @Recidiviz/polaris-insights, @Recidiviz/polaris-workflows, @Recidiviz/doppler, @Recidiviz/doppler-codeowners, @ageiduschek,

[pre import validations] Treat PKs as case sensitive (Recidiviz/recidiviz-data#48577)
  recidiviz/ingest/direct/raw_data/validations/distinct_primary_key_validation.py
  recidiviz/tests/ingest/direct/raw_data/validations/distinct_primary_key_validation_test.py
Owners: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#48585)
  .github/actions/python-setup/action.yml
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
Owners: @Recidiviz/doppler

[lineage] update source node coloring (Recidiviz/recidiviz-data#48584)
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNode.css
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
Owners: none

[Looker] Add parole/probation pop to insights impact explore (Recidiviz/recidiviz-data#48595)
  recidiviz/tools/looker/aggregated_metrics/custom_insights_metrics_configurations.py
Owners: none

[US_ND] Add `REMARKS` column to config (Recidiviz/recidiviz-data#48559)
  recidiviz/tools/looker/__generated__/dashboards/raw_data/us_nd/us_nd_raw_data_person_details.dashboard.lookml
Owners: none

[US_TN] TEPE - exclude 'WRB' clients from opportunity (Recidiviz/recidiviz-data#48530)
  recidiviz/task_eligibility/eligibility_spans/us_tn/complete_full_term_discharge_from_supervision.py
Owners: none

[US_PA] Bump validation threshold for officer_monthly_usage_report_actions_without_logins (Recidiviz/recidiviz-data#47193)
  recidiviz/validation/config/regions/us_pa/us_pa_validation_config.yaml
Owners: none

[Bug] Cleanup Unused Raw Data Fixtures (Recidiviz/recidiviz-data#48604)
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Owners: @Recidiviz/doppler

[lineage] open drawer on search, page load (Recidiviz/recidiviz-data#48603)
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNode.css
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/GraphAutoCompleteSearch/GraphAutoCompleteSearch.tsx
Owners: none

remove obsolete prep_roster_sync script (Recidiviz/recidiviz-data#48578)
  recidiviz/tests/tools/auth/prep_roster_sync_test.py
  recidiviz/tests/tools/auth/snapshots/snap_prep_roster_sync_test.py
  recidiviz/tools/auth/prep_roster_sync.py
Owners: none

Pulls client record supervision sessions into separate view builder (Recidiviz/recidiviz-data#48557)
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Owners: none

[US_AZ] Fix all unreasonable date values ingested into StateSupervisionPeriod (Recidiviz/recidiviz-data#46863)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Owners: @Recidiviz/doppler

[US_MI] Ungate MI secondary for raw data pruning (Recidiviz/recidiviz-data#48616)
  recidiviz/ingest/direct/gating.py
  recidiviz/tests/ingest/direct/gating_test.py
Owners: none

[lineage] render view descriptions using markdown (Recidiviz/recidiviz-data#48618)
  frontends/admin-panel/package.json
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQueryGraphNodeDetailCardHeader/BigQueryGraphNodeDetailCardHeader.css
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQueryViewDetailCard/BigQueryViewDetailCard.css
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQueryViewDetailCard/BigQueryViewDetailCard.tsx
  frontends/admin-panel/yarn.lock
Owners: none

[deploy] Fix release candidate script (Recidiviz/recidiviz-data#48622)
  recidiviz/tools/deploy/cut_release_candidate.sh
Owners: none

[US_OR] Delete all views referencing legacy sentences tables (Recidiviz/recidiviz-data#48587)
  recidiviz/task_eligibility/completion_events/general/early_discharge.py
  recidiviz/task_eligibility/completion_events/state_specific/us_or/__init__.py
  recidiviz/task_eligibility/completion_events/state_specific/us_or/early_discharge.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans_big_query_view_collector.py
  recidiviz/task_eligibility/eligibility_spans/us_or/__init__.py
  recidiviz/task_eligibility/eligibility_spans/us_or/earned_discharge.py
  recidiviz/task_eligibility/utils/us_or_query_fragments.py
  recidiviz/tests/task_eligibility/task_eligibility_spans_test.py
Owners: none

Adds metadata field for `Scheduled_Supervision_Contact` entity (Recidiviz/recidiviz-data#48574)
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/entity_field_descriptions.yaml
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/tools/looker/__generated__/dashboards/normalized_state/normalized_state_person.dashboard.lookml
  recidiviz/tools/looker/__generated__/dashboards/state/state_person.dashboard.lookml
Owners: @Recidiviz/doppler

[US_OR] Delete v1 sentences ingest logic (Recidiviz/recidiviz-data#48589)
  recidiviz/ingest/direct/regions/us_or/ingest_mappings/us_or_Sentences.yaml
  recidiviz/ingest/direct/regions/us_or/us_or_custom_parsers.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: @Recidiviz/doppler

[lineage] reduce cache memory usage, fix autocomplete bug (Recidiviz/recidiviz-data#48636)
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQueryGraphNodeDetailCardHeader/BigQueryGraphNodeDetailCardHeader.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/GraphAutoCompleteSearch/GraphAutoCompleteSearch.tsx
  recidiviz/admin_panel/lineage_store.py
Owners: none

[US_ND] Fix unreasonable date values ingested into StateIncarcerationPeriod (Recidiviz/recidiviz-data#46865)
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/normalized_entities.py
Owners: @Recidiviz/doppler

[deploy] Verify we are only modifying intended files when cutting looker release branch (Recidiviz/recidiviz-data#48626)
  recidiviz/tools/deploy/looker_helpers.sh
Owners: none

[US_AZ] Populate datetime_sql_parsers for unused files (Recidiviz/recidiviz-data#48628)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/ingest/direct/raw_data/raw_data_ruamel_yaml_update.py
Owners: @Recidiviz/doppler-codeowners

[Testing] Fail if no raw data fixtures (Recidiviz/recidiviz-data#49915)
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
Owners: @Recidiviz/doppler

[US_TX] Creates new scheduled contacts view (Recidiviz/recidiviz-data#47629)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_scheduled_supervision_contacts.yaml
Owners: none

[US_TX] Adds employment visits as field visit (Recidiviz/recidiviz-data#48560)
  recidiviz/task_eligibility/utils/us_tx_query_fragments.py
Owners: none

Bump emulator to `v0.4.4-recidiviz.25` (Recidiviz/recidiviz-data#48634)
  .github/runs-on.yml
  recidiviz/tests/utils/big_query_emulator_control.py
Owners: none

[US_CO] Delete v1 sentences ingest logic (Recidiviz/recidiviz-data#48637)
  recidiviz/ingest/direct/regions/us_co/ingest_mappings/us_co_IncarcerationSentence.yaml
  recidiviz/pipelines/utils/state_utils/us_co/us_co_sentence_normalization_delegate.py
  recidiviz/tests/pipelines/utils/state_utils/us_co/us_co_sentence_normalization_delegate_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: @Recidiviz/doppler

[US_NY] Hydrate facility and subdivision separately (Recidiviz/recidiviz-data#49922)
  recidiviz/ingest/direct/regions/us_ny/ingest_mappings/us_ny_incarceration_period.yaml
Owners: none

[US_TN] Adding compliant eligible flag (Recidiviz/recidiviz-data#49916)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_VantagePointAssessments.yaml
Owners: none

Add claude.md (Recidiviz/recidiviz-data#49925)
  .gitignore
  .mcp.json
  CLAUDE.md
Owners: none

[Viz] Data viz additions (Recidiviz/recidiviz-data#48620)
  recidiviz/tools/analyst/notebook_utils.py
  recidiviz/tools/analyst/plots.py
Owners: none

[deploy] Fetch looker tags during staging deploy (Recidiviz/recidiviz-data#49931)
  recidiviz/tools/deploy/base_deploy_to_staging.sh
Owners: none

[US_AZ] Ingest STATE_VIOLATION_ID as incident_metadata (Recidiviz/recidiviz-data#49914)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_incidents.yaml
Owners: none

[US_UT] Add UT to raw data pruning script (Recidiviz/recidiviz-data#49652)
  recidiviz/ingest/direct/gating.py
  recidiviz/tools/multi_state_raw_data_pruning.sh
Owners: none

[US_AZ] Minor adjustments to state_charge_v2 (Recidiviz/recidiviz-data#48619)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence.yaml
Owners: none

[Login Reminders] Enable supervision linestaff emails for IA (Recidiviz/recidiviz-data#48586)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/SendSupervisionLinestaffEmailReminders.js
Owners: none

[US_AZ] Turn on Roster Sync for Arizona (Recidiviz/recidiviz-data#46776)
  recidiviz/metrics/export/products/products.yaml
Owners: none

[Insights] fix MI split parole/probation metrics by using attrs.evolve (Recidiviz/recidiviz-data#49955)
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/reporting/context/outliers_supervision_officer_supervisor/outliers_supervision_officer_supervisor_test.py
Owners: none

[US_NY] Exclude sessions_missing_closest_sentence_imposed_group validation (Recidiviz/recidiviz-data#49970)
  recidiviz/validation/config/regions/us_ny/us_ny_validation_config.yaml
Owners: none

[lineage] remove concept of selected node (Recidiviz/recidiviz-data#49947)
  frontends/admin-panel/src/LineageStore/GraphHelpers.ts
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/NodeFilter/Utils.ts
  frontends/admin-panel/src/LineageStore/UiStore.ts
  frontends/admin-panel/src/LineageStore/__fixtures__/GraphHelpersFixture.ts
  frontends/admin-panel/src/LineageStore/__tests__/GraphHelpers.test.ts
  frontends/admin-panel/src/components/App.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailDrawer/GraphNodeDetailDrawer.tsx
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/GraphAutoCompleteSearch/GraphAutoCompleteSearch.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageToolbar.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/NodeFilterModal/NodeFilterModal.tsx
Owners: none

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/** @Recidiviz/infra-review

# DADS-owned code

# R&D-owned code
recidiviz/persistence/**/resource_search/** @nichelle-hall @roshcagra

# Polaris-owned code
recidiviz/persistence/**/case_triage/** @Recidiviz/polaris
recidiviz/persistence/**/insights/** @Recidiviz/polaris-insights
# The JC database should never be updated anymore
recidiviz/persistence/**/justice_counts/** @Recidiviz/polaris
recidiviz/persistence/**/pathways/** @Recidiviz/polaris
recidiviz/persistence/**/workflows/** @Recidiviz/polaris-workflows

# Doppler
#  For Doppler-owned files, files with a high volume of edits are assigned to the @Recidiviz/doppler-codeowners group,
#  which assigns a single reviewer via round robin. For more critical files with a lower volume of edits, we assign the
#  @Recidiviz/doppler group which is configured so all team members are added to each review.
recidiviz/airflow/** @Recidiviz/doppler
recidiviz/big_query/** @Recidiviz/doppler
recidiviz/calculator/query/state/views/reference/product_person_external_id_helpers.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py @Recidiviz/doppler-codeowners
recidiviz/persistence/** @Recidiviz/doppler
recidiviz/pipelines/** @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
# TODO(#41554): Once all exemptions have been removed from this test file, we can remove Doppler ownership
recidiviz/tests/calculator/query/state/views/reference/workflows_opportunity_configs_test.py @Recidiviz/doppler
recidiviz/tests/calculator/query/state/views/reference/product_person_external_id_helpers_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler-codeowners
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/deployed_view_external_id_exemptions.py @ageiduschek, @Recidiviz/doppler-codeowners
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler-codeowners
