Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @nichelle-hall, @roshcagra, @Recidiviz/polaris, @Recidiviz/polaris-insights, @Recidiviz/polaris-workflows, @Recidiviz/doppler, @Recidiviz/doppler-codeowners, @ageiduschek,

[preimport validations] Query postgres directly to get historical median row counts (Recidiviz/recidiviz-data#46473)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/raw_data/validations/datetime_parsers_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/expected_type_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/import_blocking_validations_query_runner.py
  recidiviz/ingest/direct/raw_data/validations/known_values_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/nonnull_values_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/column_validation_test_case.py
  recidiviz/tests/ingest/direct/raw_data/validations/datetime_parsers_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/expected_type_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/known_values_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation_test.py
Owners: none

[Insights][Staff Insights] Enable queries to the `user_info` endpoint by staff (Recidiviz/recidiviz-data#45788)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/outliers/querier_test.py
  recidiviz/tools/insights/fixtures/user_metadata.json
Owners: none

[US_UT] Ingest LS/RNR Summary of Findings into assessment metadata (Recidiviz/recidiviz-data#46554)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_assessment.yaml
Owners: none

[US_PA] Migrate opportunity record queries to use product_stable_person_external_ids view (Recidiviz/recidiviz-data#46496)
  recidiviz/task_eligibility/utils/us_pa_query_fragments.py
Owners: none

[Email Reminders] Add UT (supervision line staff) and TN (facilities) (Recidiviz/recidiviz-data#45560)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/SendFacilitiesLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/SendSupervisionLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/TestEmailReminders.js
Owners: none

[Email Reminders] Change testing limits (Recidiviz/recidiviz-data#45955)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/SendFacilitiesLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/SendSupervisionLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/SendSupervisorEmailReminders.js
  recidiviz/appsscript/login_reminders/TestEmailReminders.js
Owners: none

[US_IA] Ingest custody level and housing unit type into incarceration periods (Recidiviz/recidiviz-data#46156)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_incarceration_periods.yaml
Owners: @Recidiviz/doppler-codeowners

Revert "[preimport validations] Query postgres directly to get histor… (Recidiviz/recidiviz-data#46764)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/raw_data/validations/datetime_parsers_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/expected_type_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/import_blocking_validations_query_runner.py
  recidiviz/ingest/direct/raw_data/validations/known_values_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/nonnull_values_column_validation.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/column_validation_test_case.py
  recidiviz/tests/ingest/direct/raw_data/validations/datetime_parsers_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/expected_type_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/known_values_column_validation_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation_test.py
Owners: none

[US_NE] Hydrate charge_v2.description with arrest_code when convictedDescription is null (Recidiviz/recidiviz-data#46768)
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_sentences_and_charges.yaml
Owners: none

[Cleanup] Remove person_id_to_external_id ref from workflows_active_usage_event (Recidiviz/recidiviz-data#46538)
  recidiviz/observations/event_observation_big_query_view_builder.py
Owners: none

[Emulator] Bump to `v0.4.4-recidiviz.23.1` (Recidiviz/recidiviz-data#46778)
  .github/workflows/ci.yml
  recidiviz/tests/utils/big_query_emulator_control.py
Owners: @Recidiviz/infra-review

[US_ND] Update `MINIMUM_HOUSING_REFERRAL_QUERY` (Recidiviz/recidiviz-data#46481)
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
Owners: none

[US_AZ] Refactor home plan preprocessed view (Recidiviz/recidiviz-data#46467)
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
  recidiviz/task_eligibility/utils/us_az_query_fragments.py
Owners: none

Reduced Redundancy, Fixed Errors, Moved to Library Code (Recidiviz/recidiviz-data#46524)
  recidiviz/tests/research/utils/__init__.py
  recidiviz/tests/research/utils/batch_generation_helpers_tests.py
Owners: none

[Resource Search] Update Dockerfile to use gpg instead of apt-key (Recidiviz/recidiviz-data#46774)
  Dockerfile.resource-search
Owners: none

[Login Reminders] Add PA Supervisors (Recidiviz/recidiviz-data#46552)
  recidiviz/appsscript/login_reminders/EmailReminderHelpers.js
  recidiviz/appsscript/login_reminders/SendFacilitiesLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/SendSupervisionLinestaffEmailReminders.js
  recidiviz/appsscript/login_reminders/SendSupervisorEmailReminders.js
Owners: none

[US_ND] Ingest `incarceration_outcome` finding and hearing type (Recidiviz/recidiviz-data#46759)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_offense_in_custody_and_pos_report_data.yaml
Owners: none

[US_AR] Update program assignment ingest in ar to hydrate program id with human readable values (Recidiviz/recidiviz-data#44795)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_program_assignment.yaml
  recidiviz/ingest/direct/regions/us_ar/us_ar_custom_parsers.py
Owners: none

[US_IA][Workflows] Create SLD opportunity (Recidiviz/recidiviz-data#45908)
  recidiviz/task_eligibility/completion_events/general/supervision_level_downgrade_from_medium_or_minimum.py
  recidiviz/task_eligibility/criteria/general/no_supervision_level_downgrade_within_6_months.py
  recidiviz/task_eligibility/eligibility_spans/us_ia/complete_supervision_level_downgrade_request.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/utils/us_ia_query_fragments.py
Owners: none

[US_IA][Workflows] Add criteria for "6 months since downgrade" and "not on life sentence" to SLD opportunity (Recidiviz/recidiviz-data#46349)
  recidiviz/task_eligibility/criteria/general/no_supervision_level_downgrade_within_6_months.py
  recidiviz/task_eligibility/eligibility_spans/us_ia/complete_supervision_level_downgrade_request.py
Owners: none

Adds metrics for global and linestaff active usage to global usage looker explore (Recidiviz/recidiviz-data#46783)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/tools/looker/aggregated_metrics/custom_global_metrics_configurations.py
Owners: none

[US_NE] Add preprocessed sentence dates (Recidiviz/recidiviz-data#46341)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler-codeowners

[US_NE] adding staff role periods (Recidiviz/recidiviz-data#46547)
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_staff_role_periods.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: none

[Cleanup] Remove legacy parser test from template and new states (Recidiviz/recidiviz-data#46828)
  recidiviz/tests/ingest/direct/templates/us_xx/us_xx_ingest_view_parser_test.py
Owners: none

[US_MO] WR/OC - update criterion for drug/contraband incidents (Recidiviz/recidiviz-data#46568)
  recidiviz/task_eligibility/criteria/general/no_nonviolent_incarceration_violation_within_6_months.py
  recidiviz/task_eligibility/eligibility_spans/us_mo/work_release.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
  recidiviz/task_eligibility/utils/us_mo_query_fragments.py
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler-codeowners

[US_PA] Migrate charges_from_crim_hist to new ingest tests (Recidiviz/recidiviz-data#46831)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_charges_from_crim_hist.yaml
Owners: none

[US_MO] Map supervision violation type 059 to INTERNAL_UNKNOWN (Recidiviz/recidiviz-data#46833)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_supervision_violation.yaml
Owners: none

[Cleanup] Delete legacy ingest and parser tests (Recidiviz/recidiviz-data#46835)
  recidiviz/tests/ingest/constants.py
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/ingest/direct/regions/ingest_view_query_test_case.py
  recidiviz/tests/ingest/direct/regions/state_ingest_view_parser_test_base.py
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/pipelines/ingest/state/generate_entities_test.py
  recidiviz/tests/pipelines/ingest/state/generate_ingest_view_results_test.py
  recidiviz/tests/pipelines/ingest/state/ingest_region_test_mixin.py
  recidiviz/tests/pipelines/ingest/state/merge_ingest_view_root_entity_trees_test.py
Owners: @Recidiviz/doppler

[US_NE] Add NE metadata to resident record (Recidiviz/recidiviz-data#46841)
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler-codeowners

[US_AZ] Updated Maybe Eligible Logic to only include Residents *without* ORAS (Recidiviz/recidiviz-data#46542)
  recidiviz/task_eligibility/criteria/general/oras_community_supervision_completed.py
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
Owners: none

[US_IA] Ingest custody classification assessments into StateAssessment (Recidiviz/recidiviz-data#46474)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_assessment.py
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_custody_assessment.yaml
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/pipelines/ingest/state/normalization/normalization_managers/assessment_normalization_manager.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: @Recidiviz/doppler

[US_IA] Ingest case manager assignments for incarcerated individuals (Recidiviz/recidiviz-data#46856)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_person_staff_relationship_period.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: none

[Cleanup] Consolidate ingests tests' fixture output (Recidiviz/recidiviz-data#46849)
  recidiviz/tests/ingest/direct/regions/state_specific_ingest_pipeline_integration_test_case.py
  recidiviz/tests/pipelines/ingest/state/pipeline_test_case.py
Owners: none

[Cleanup] Deprecate legacy "DirectIngestTestFixturePath" (Recidiviz/recidiviz-data#46851)
  recidiviz/tests/ingest/direct/fixture_util.py
  recidiviz/tests/ingest/direct/legacy_fixture_path.py
  recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py
  recidiviz/tests/pipelines/ingest/state/ingest_region_test_mixin.py
Owners: @Recidiviz/doppler

[deploy] More fully integrate looker deploy steps into deploy scripts (Recidiviz/recidiviz-data#46571)
  recidiviz/tools/deploy/base_deploy_looker_staging.sh
  recidiviz/tools/deploy/base_deploy_to_staging.sh
  recidiviz/tools/deploy/deploy_looker_production.sh
  recidiviz/tools/deploy/deploy_production.sh
Owners: none

[US_PA] Fix state staff ingest to ingest missing supervisors (Recidiviz/recidiviz-data#46803)
  recidiviz/pipelines/ingest/state/create_root_entity_id_to_staff_id_mapping.py
Owners: @Recidiviz/doppler

[US_PA] Add new yamls + revise (Recidiviz/recidiviz-data#45715)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
Owners: @Recidiviz/doppler-codeowners

[US_ND] Migrate opportunity record queries to use product_stable_person_external_ids view (Recidiviz/recidiviz-data#46497)
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
Owners: none

[US_TX] Migrate opportunity record queries to use product_stable_person_external_ids view (Recidiviz/recidiviz-data#46834)
  recidiviz/tools/validate_source_visibility.py
Owners: @Recidiviz/doppler

[US_NE] Add earned credit activity (Recidiviz/recidiviz-data#46340)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
Owners: @Recidiviz/doppler-codeowners

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/** @Recidiviz/infra-review

# DADS-owned code

# R&D-owned code
recidiviz/persistence/**/resource_search/** @nichelle-hall @roshcagra

# Polaris-owned code
recidiviz/persistence/**/case_triage/** @Recidiviz/polaris
recidiviz/persistence/**/insights/** @Recidiviz/polaris-insights
# The JC database should never be updated anymore
recidiviz/persistence/**/justice_counts/** @Recidiviz/polaris
recidiviz/persistence/**/pathways/** @Recidiviz/polaris
recidiviz/persistence/**/workflows/** @Recidiviz/polaris-workflows

# Doppler
#  For Doppler-owned files, files with a high volume of edits are assigned to the @Recidiviz/doppler-codeowners group,
#  which assigns a single reviewer via round robin. For more critical files with a lower volume of edits, we assign the
#  @Recidiviz/doppler group which is configured so all team members are added to each review.
recidiviz/airflow/** @Recidiviz/doppler
recidiviz/big_query/** @Recidiviz/doppler
recidiviz/calculator/query/state/views/reference/product_person_external_id_helpers.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py @Recidiviz/doppler-codeowners
recidiviz/persistence/** @Recidiviz/doppler
recidiviz/pipelines/** @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
# TODO(#41554): Once all exemptions have been removed from this test file, we can remove Doppler ownership
recidiviz/tests/calculator/query/state/views/reference/workflows_opportunity_configs_test.py @Recidiviz/doppler
recidiviz/tests/calculator/query/state/views/reference/product_person_external_id_helpers_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler-codeowners
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/deployed_view_external_id_exemptions.py @ageiduschek, @Recidiviz/doppler-codeowners
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler-codeowners
