Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @nichelle-hall, @roshcagra, @Recidiviz/polaris, @Recidiviz/polaris-insights, @Recidiviz/polaris-workflows, @Recidiviz/doppler, @Recidiviz/doppler-codeowners, @ageiduschek,

Adds all_segment_pages view (Recidiviz/recidiviz-data#46788)
  recidiviz/observations/event_type.py
  recidiviz/segment/all_segment_pages.py
  recidiviz/segment/product_type.py
  recidiviz/segment/segment_event_utils.py
  recidiviz/segment/view_config.py
  recidiviz/tests/source_tables/source_tables_test.py
Owners: none

[US_PA] Revise charge classification and classification subtype hydration to be more consistent (Recidiviz/recidiviz-data#46162)
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_charges_from_crim_hist.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_dbo_Senrec_v2.yaml
  recidiviz/ingest/direct/regions/us_pa/ingest_mappings/us_pa_parole_sentences.yaml
Owners: none

[raw data pruning] Add support to diff incremental files in diff query builder (Recidiviz/recidiviz-data#46859)
  recidiviz/tests/ingest/direct/fake_regions/us_xx/raw_data/us_xx_singlePrimaryKey.yaml
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/incrementalFile/__init__.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/incrementalFile/existing_raw_data.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/incrementalFile/expected_diff.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/incrementalFile/new_raw_data.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/multipleColPrimaryKeyHistoricalManyIsDeleted/expected_diff.csv
  recidiviz/tests/ingest/direct/raw_data/raw_data_diff_fixtures/multipleColPrimaryKeyHistoricalManyIsDeleted/new_raw_data.csv
  recidiviz/tests/ingest/direct/raw_data/raw_file_configs_test.py
Owners: none

[US_MI][Schema] Update SentenceStatusSnapshot as part of Sentencing V2 schema change (Recidiviz/recidiviz-data#46308)
  recidiviz/ingest/direct/regions/us_mi/ingest_mappings/us_mi_sentence_status_snapshot.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: none

[US_MO] WR/OC - rework how we identify escapes (Recidiviz/recidiviz-data#46565)
  recidiviz/task_eligibility/eligibility_spans/us_mo/work_release.py
Owners: none

[US_NE] Flag whether sentencing info is currently on hold (Recidiviz/recidiviz-data#46852)
  recidiviz/view_registry/deployed_address_schema_utils.py
Owners: none

Remove linting for migrated_notebooks (Recidiviz/recidiviz-data#46567)
  recidiviz/tools/lint/run_pylint.sh
Owners: none

[US_TN] Update StateSentenceStatusSnapshot ingest to be compatible with state_provided_start_date (Recidiviz/recidiviz-data#46557)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_sentence_and_charge.yaml
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_sentence_status.yaml
  recidiviz/ingest/direct/regions/us_tn/us_tn_sentencing_custom_enum_parsers.py
  recidiviz/pipelines/ingest/state/normalization/sentencing/normalize_sentence_statuses.py
  recidiviz/pipelines/utils/state_utils/us_tn/us_tn_sentence_normalization_delegate.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: @Recidiviz/doppler

Fix Workflows ETL transform errors for null gender and location IDs (Recidiviz/recidiviz-data#44502)
  recidiviz/tests/workflows/etl/workflows_resident_etl_delegate_test.py
  recidiviz/workflows/etl/workflows_resident_etl_delegate.py
Owners: none

[Exports] Update exporter to skip empty tables (Recidiviz/recidiviz-data#46826)
  recidiviz/metrics/export/export_config.py
  recidiviz/tests/metrics/export/export_config_test.py
Owners: none

Adds provisioned user registration sessions for JII tablet users (Recidiviz/recidiviz-data#46302)
  recidiviz/aggregated_metrics/assignment_sessions_view_builder.py
  recidiviz/aggregated_metrics/assignment_sessions_view_collector.py
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/observations/metric_unit_of_observation.py
  recidiviz/observations/metric_unit_of_observation_type.py
  recidiviz/observations/span_type.py
  recidiviz/source_tables/externally_managed/datasets.py
  recidiviz/source_tables/externally_managed/jii_auth0_production_segment_metrics/auth0_login_succeeded.yaml
  recidiviz/view_registry/deployed_views.py
Owners: none

[US_MI] Create criteria based on probation/parole conditions (Recidiviz/recidiviz-data#45410)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_parole_dual_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_discharge_early_from_probation_supervision_request.py
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_transfer_to_telephone_reporting_request.py
Owners: @Recidiviz/doppler-codeowners

[US_TN] Undo counter-backdating logic in SLD completion event (Recidiviz/recidiviz-data#46888)
  recidiviz/task_eligibility/completion_events/general/supervision_level_downgrade.py
  recidiviz/task_eligibility/completion_events/state_specific/us_tn/supervision_level_downgrade.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/supervision_level_downgrade.py
Owners: none

[US_MI] Migrate opportunity record queries to use product_stable_person_external_ids view (Recidiviz/recidiviz-data#46802)
  recidiviz/task_eligibility/eligibility_spans/us_mi/complete_security_classification_committee_review_form.py
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Owners: none

[US_AR] Hydrate state_charge_v2 description (Recidiviz/recidiviz-data#46896)
  recidiviz/ingest/direct/regions/us_ar/ingest_mappings/us_ar_sentence.yaml
Owners: none

[US_TX] Refactors `state_staff_supervisor_period` (Recidiviz/recidiviz-data#46562)
  recidiviz/pipelines/ingest/state/create_root_entity_id_to_staff_id_mapping.py
Owners: @Recidiviz/doppler

Adds JII tablet app login metrics (Recidiviz/recidiviz-data#46510)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/observations/event_type.py
  recidiviz/view_registry/deployed_views.py
Owners: none

[US_MI][CLD] add "at least 6 month misconduct-free and no assessment" criterion (Recidiviz/recidiviz-data#46030)
  recidiviz/task_eligibility/eligibility_spans/us_mi/custody_level_downgrade.py
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler-codeowners

[US_AZ] Added historical kidnapping charge for exclusion (Recidiviz/recidiviz-data#46920)
  recidiviz/task_eligibility/utils/us_az_query_fragments.py
Owners: none

[US_MO] WR/OC - clean up cycle data & other small TODOs (Recidiviz/recidiviz-data#46213)
  recidiviz/task_eligibility/eligibility_spans/us_mo/work_release.py
  recidiviz/task_eligibility/utils/us_mo_query_fragments.py
Owners: none

[Resource Search] Move resource compose services to their own file (Recidiviz/recidiviz-data#46939)
  Pipfile
  docker-compose.resource-search.yaml
  docker-compose.yaml
  recidiviz/resource_search/README.md
Owners: none

[Resource Search] Note TODO for secrets management and modularize settings (Recidiviz/recidiviz-data#46943)
  recidiviz/resource_search/src/settings.py
Owners: none

[SCR] adding LIFETIME_SUPERVISION case type (Recidiviz/recidiviz-data#46780)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_case_type.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/pipelines/utils/supervision_period_utils.py
Owners: @Recidiviz/doppler

[US_TN] Switching location from 71 to 70 based on info from TN (Recidiviz/recidiviz-data#46908)
  recidiviz/datasets/static_data/us_tn_supervision_facility_names.csv
  recidiviz/datasets/static_data/us_tn_supervision_locations.csv
Owners: none

[raw data pruning] Enable pruning for incremental files (Recidiviz/recidiviz-data#46864)
  recidiviz/airflow/dags/raw_data/file_metadata_tasks.py
  recidiviz/airflow/tests/raw_data/file_metadata_tasks_test.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/tests/ingest/direct/raw_data/raw_file_configs_test.py
  recidiviz/tools/ingest/one_offs/clear_redundant_raw_data_on_bq.py
Owners: @Recidiviz/doppler

[BigQuery] Generate views for each static data CSV in `recidiviz/datasets/static_data` (Recidiviz/recidiviz-data#46924)
  recidiviz/big_query/big_query_view.py
  recidiviz/big_query/constants.py
  recidiviz/datasets/static_data/static_data_csv_descriptions.yaml
  recidiviz/datasets/static_data/us_id_supervision_district_names.csv
  recidiviz/datasets/static_data/us_id_supervision_unit_to_district_map.csv
  recidiviz/tests/big_query/big_query_view_dag_walker_test.py
  recidiviz/tools/deploy/terraform/external-data-table-gcs-files.tf
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/tools/validate_source_visibility.py
  recidiviz/view_registry/deployed_views.py
Owners: @Recidiviz/doppler, @Recidiviz/doppler-codeowners

[US_NY] Create initial raw data configs for New York (Recidiviz/recidiviz-data#46305)
  recidiviz/common/constants/state/external_id_types.py
  recidiviz/tools/ingest/development/raw_data_config_writer.py
  recidiviz/view_registry/deployed_views.py
Owners: none

[US_ID] Delete a collection of legacy views / source tables associated with the US_ID state_code (Recidiviz/recidiviz-data#46961)
  recidiviz/datasets/static_data/static_data_csv_descriptions.yaml
  recidiviz/datasets/static_data/us_id_incarceration_facility_map.csv
  recidiviz/datasets/static_data/us_id_incarceration_facility_names.csv
  recidiviz/datasets/static_data/us_id_supervision_district_names.csv
  recidiviz/datasets/static_data/us_id_supervision_unit_to_district_map.csv
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_id_incarceration_facility_map.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_id_incarceration_facility_names.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_id_supervision_district_names.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_id_supervision_unit_to_district_map.yaml
  recidiviz/tools/deploy/terraform/external-data-table-gcs-files.tf
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler-codeowners

[TES] Decompose eligible/almost-eligible view builders (Recidiviz/recidiviz-data#42394)
  recidiviz/task_eligibility/almost_eligible_spans_big_query_view_builder.py
  recidiviz/task_eligibility/almost_eligible_task_spans_big_query_view_collector.py
  recidiviz/task_eligibility/basic_single_task_eligibility_spans_big_query_query_builder.py
  recidiviz/task_eligibility/basic_single_task_eligibility_spans_big_query_view_builder.py
  recidiviz/task_eligibility/basic_single_task_eligibility_spans_big_query_view_collector.py
  recidiviz/task_eligibility/single_task_eligibility_spans_view_collector.py
  recidiviz/task_eligibility/single_task_eligiblity_spans_view_builder.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_builder.py
  recidiviz/task_eligibility/task_completion_event_big_query_view_collector.py
  recidiviz/task_eligibility/view_config.py
  recidiviz/tests/task_eligibility/almost_eligible_task_spans_view_builder_test.py
  recidiviz/tests/task_eligibility/almost_eligible_task_spans_view_collector_test.py
  recidiviz/tests/task_eligibility/basic_single_task_eligibility_big_query_view_collector_test.py
  recidiviz/tests/task_eligibility/basic_single_task_eligibility_spans_big_query_view_builder_test.py
  recidiviz/tests/task_eligibility/single_task_eligibility_spans_view_builder_test.py
  recidiviz/tests/task_eligibility/single_task_eligibility_spans_view_collector_test.py
  recidiviz/tests/task_eligibility/task_eligibility_big_query_emulator_utils.py
Owners: none

Add U.S. Minor Outlying Islands as valid state (Recidiviz/recidiviz-data#46992)
  recidiviz/common/constants/states.py
  recidiviz/tests/common/constants/states_test.py
  recidiviz/tests/view_registry/deployed_views_test.py
Owners: none

[Cleanup] Remove downstream view usages of resident_record's person_external_id col (Recidiviz/recidiviz-data#45731)
  recidiviz/task_eligibility/utils/us_nd_query_fragments.py
Owners: none

[BigQuery] Use new static_reference_data_views in favor of TF-backed source tables (Recidiviz/recidiviz-data#46964)
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/county_fips.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_co_incarceration_facility_map.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_co_incarceration_facility_names.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_me_incarceration_facility_names.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_mi_incarceration_facility_names.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_mo_incarceration_facility_names.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_nd_incarceration_facility_names.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_tn_incarceration_facility_map.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_tn_incarceration_facility_names.yaml
  recidiviz/source_tables/yaml_managed/gcs_backed_tables/us_tn_supervision_facility_names.yaml
  recidiviz/tests/source_tables/source_tables_test.py
  recidiviz/tools/deploy/terraform/external-data-table-gcs-files.tf
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler-codeowners

[US_NE] Exclude `person_caseload` validations until validation view is fixed (Recidiviz/recidiviz-data#47006)
  recidiviz/validation/config/regions/us_ne/us_ne_validation_config.yaml
  recidiviz/validation/config/regions/us_ut/us_ut_validation_config.yaml
Owners: none

[US_IA] Hydrate violation type so that IA violations show up downstream (Recidiviz/recidiviz-data#46948)
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_violation_incidents.yaml
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_violations_parole.yaml
  recidiviz/ingest/direct/regions/us_ia/ingest_mappings/us_ia_supervision_violations_probation.yaml
Owners: none

[BigQuery] Refactor file paths in recidiviz/datasets/static_data package for clarity (Recidiviz/recidiviz-data#46956)
  recidiviz/common/fips.py
  recidiviz/datasets/static_data/county_fips.csv
  recidiviz/datasets/static_data/static_data_csv_descriptions.yaml
  recidiviz/datasets/static_data/terraform_managed/__init__.py
  recidiviz/datasets/static_data/terraform_managed/config.py
  recidiviz/datasets/static_data/terraform_managed/state_resident_populations.csv
  recidiviz/datasets/static_data/us_co_incarceration_facility_map.csv
  recidiviz/datasets/static_data/us_co_incarceration_facility_names.csv
  recidiviz/datasets/static_data/us_me_incarceration_facility_names.csv
  recidiviz/datasets/static_data/us_mi_incarceration_facility_names.csv
  recidiviz/datasets/static_data/us_mo_incarceration_facility_names.csv
  recidiviz/datasets/static_data/us_nd_incarceration_facility_names.csv
  recidiviz/datasets/static_data/us_tn_incarceration_facility_map.csv
  recidiviz/datasets/static_data/us_tn_incarceration_facility_names.csv
  recidiviz/datasets/static_data/us_tn_supervision_facility_names.csv
  recidiviz/datasets/static_data/us_tn_supervision_locations.csv
  recidiviz/source_tables/yaml_managed/datasets.py
  recidiviz/tests/pipelines/all_pipelines_test.py
  recidiviz/tools/datasets/refresh_county_fips.py
  recidiviz/tools/datasets/refresh_state_resident_populations.py
  recidiviz/tools/datasets/static_data_utils.py
  recidiviz/tools/validate_source_visibility.py
Owners: @Recidiviz/doppler

[Bugfix] Fix broken static data file path in TF config (Recidiviz/recidiviz-data#47013)
  recidiviz/tools/deploy/terraform/modules/local-csv-backed-gcs-file/main.tf
Owners: none

[US_UT] CM <> Incidents analysis (Recidiviz/recidiviz-data#46921)
  recidiviz/tools/analyst/notebook_utils.py
Owners: none

[Security] Prevent Gemini CLI from accessing sensitive files (Recidiviz/recidiviz-data#46993)
  .geminiignore
Owners: none

[Insights][bugfix] Send null role for non-supervisor users without officer entity (Recidiviz/recidiviz-data#47021)
  recidiviz/outliers/querier/querier.py
Owners: none

[US_TN] CR & SLD - update eligibility logic prior to supervision-level remapping (Recidiviz/recidiviz-data#46946)
  recidiviz/task_eligibility/criteria/general/supervision_level_is_not_furlough.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/supervision_level_downgrade.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_to_compliant_reporting_no_discretion.py
Owners: none

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/** @Recidiviz/infra-review

# DADS-owned code

# R&D-owned code
recidiviz/persistence/**/resource_search/** @nichelle-hall @roshcagra

# Polaris-owned code
recidiviz/persistence/**/case_triage/** @Recidiviz/polaris
recidiviz/persistence/**/insights/** @Recidiviz/polaris-insights
# The JC database should never be updated anymore
recidiviz/persistence/**/justice_counts/** @Recidiviz/polaris
recidiviz/persistence/**/pathways/** @Recidiviz/polaris
recidiviz/persistence/**/workflows/** @Recidiviz/polaris-workflows

# Doppler
#  For Doppler-owned files, files with a high volume of edits are assigned to the @Recidiviz/doppler-codeowners group,
#  which assigns a single reviewer via round robin. For more critical files with a lower volume of edits, we assign the
#  @Recidiviz/doppler group which is configured so all team members are added to each review.
recidiviz/airflow/** @Recidiviz/doppler
recidiviz/big_query/** @Recidiviz/doppler
recidiviz/calculator/query/state/views/reference/product_person_external_id_helpers.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py @Recidiviz/doppler-codeowners
recidiviz/persistence/** @Recidiviz/doppler
recidiviz/pipelines/** @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
# TODO(#41554): Once all exemptions have been removed from this test file, we can remove Doppler ownership
recidiviz/tests/calculator/query/state/views/reference/workflows_opportunity_configs_test.py @Recidiviz/doppler
recidiviz/tests/calculator/query/state/views/reference/product_person_external_id_helpers_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler-codeowners
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/deployed_view_external_id_exemptions.py @ageiduschek, @Recidiviz/doppler-codeowners
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler-codeowners
