Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @nichelle-hall, @roshcagra, @Recidiviz/polaris, @Recidiviz/polaris-insights, @Recidiviz/polaris-workflows, @Recidiviz/doppler, @Recidiviz/doppler-codeowners, @ageiduschek,

[US_IA] Use SAFE_OFFSET for case notes query (Recidiviz/recidiviz-data#47529)
  recidiviz/task_eligibility/utils/us_ia_query_fragments.py
Owners: none

[US_IX] Validation bump for `outliers_staff_count_percent_change_intramonth` (Recidiviz/recidiviz-data#47707)
  recidiviz/validation/config/regions/us_ix/us_ix_validation_config.yaml
Owners: none

Fixes looker bug with SUPERVISION_UNIT unit of analysis by treating unit_supervisor id as integer in union clauses (Recidiviz/recidiviz-data#47690)
  recidiviz/tools/looker/aggregated_metrics/custom_metrics_lookml_utils.py
Owners: none

Migrate TX Tasks from Ingest to Static CSVs (Recidiviz/recidiviz-data#47638)
  recidiviz/task_eligibility/utils/us_tx_query_fragments.py
Owners: none

Adds `ComplianceTaskEligibilitySpansBigQueryViewBuilder` (Recidiviz/recidiviz-data#47090)
  recidiviz/task_eligibility/all_compliance_task_eligibility_spans.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans/__init__.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans/us_ne/__init__.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans/us_ne/needs_oras_assessment.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans_big_query_view_builder.py
  recidiviz/task_eligibility/compliance_task_eligibility_spans_big_query_view_collector.py
  recidiviz/task_eligibility/dataset_config.py
  recidiviz/task_eligibility/task_criteria_big_query_view_builder.py
  recidiviz/task_eligibility/task_criteria_big_query_view_collector.py
  recidiviz/task_eligibility/view_config.py
  recidiviz/tests/task_eligibility/compliance_task_eligibility_spans_big_query_view_builder_test.py
  recidiviz/tests/task_eligibility/compliance_task_eligibility_spans_big_query_view_collector_test.py
  recidiviz/tools/find_unused_bq_views.py
  recidiviz/view_registry/deployed_views.py
Owners: @Recidiviz/doppler-codeowners

[Insights][Staff Insights] Allow `supervision_officers` to access their own data via the `officers` and officer `vitals` endpoint (Recidiviz/recidiviz-data#45796)
  recidiviz/case_triage/outliers/outliers_routes.py
  recidiviz/outliers/querier/querier.py
  recidiviz/outliers/types.py
  recidiviz/tests/case_triage/outliers/outliers_routes_test.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_outliers_routes_test.py
  recidiviz/tests/outliers/querier_test.py
Owners: none

[lineage] add automcomplete search (Recidiviz/recidiviz-data#47608)
  docker-compose.admin-panel.yaml
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/LineageStore.ts
  frontends/admin-panel/src/LineageStore/Utils.tsx
  frontends/admin-panel/src/components/Lineage/Constants.ts
  frontends/admin-panel/src/components/Lineage/GraphAutoCompleteSearch/GraphAutoCompleteSearch.css
  frontends/admin-panel/src/components/Lineage/GraphAutoCompleteSearch/GraphAutoCompleteSearch.tsx
  frontends/admin-panel/src/components/Lineage/LineageGraph.css
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
Owners: none

[US_TN][Workflows] Fix criterion excluding people on 'WRB' supervision (Recidiviz/recidiviz-data#47721)
  recidiviz/task_eligibility/eligibility_spans/us_tn/supervision_level_downgrade.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_to_compliant_reporting_no_discretion.py
  recidiviz/task_eligibility/utils/state_specific_criteria_builders.py
Owners: none

[admin panel] Display net new/updated/deleted rows for pruned files (Recidiviz/recidiviz-data#47709)
  frontends/admin-panel/src/components/IngestStatus/RawDataFileTagRecentRunsTable.tsx
  frontends/admin-panel/src/components/IngestStatus/constants.ts
  recidiviz/ingest/direct/metadata/direct_ingest_raw_file_import_manager.py
  recidiviz/tests/admin_panel/routes/ingest_ops_test.py
  recidiviz/tests/ingest/direct/metadata/direct_ingest_raw_file_import_manager_test.py
  recidiviz/tools/admin_panel/fixtures/operations_db/direct_ingest_raw_file_import.csv
Owners: none

[US_TX] Adds "Rel. review" to IN-CUSTODY supervision level (Recidiviz/recidiviz-data#47736)
  recidiviz/ingest/direct/regions/us_tx/us_tx_custom_enum_parsers.py
Owners: none

[US_NE] Update STABLE assessment criteria for Tasks (Recidiviz/recidiviz-data#47747)
  recidiviz/task_eligibility/criteria/general/on_parole_at_least_10_years.py
Owners: none

[US_MI] Revise supervision period and staff role periods ingest to account for new COMS_Case_Managers file (Recidiviz/recidiviz-data#47735)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
Owners: @Recidiviz/doppler-codeowners

[Insights][US_AZ]: Add Outliers Configuration for AZ (Recidiviz/recidiviz-data#47697)
  recidiviz/outliers/outliers_configs.py
  recidiviz/tools/deploy/terraform/config/outliers_enabled_states.yaml
Owners: none

[Insights][US_AZ]: Add AZ to Insights product export (Recidiviz/recidiviz-data#47723)
  recidiviz/metrics/export/products/products.yaml
Owners: none

[US_NE] Adding enum value for incarceration period release reason (Recidiviz/recidiviz-data#47748)
  recidiviz/ingest/direct/regions/us_ne/ingest_mappings/us_ne_incarceration_periods.yaml
Owners: none

Creates StateScheduledSupervisionContact entity (Recidiviz/recidiviz-data#47084)
  recidiviz/common/constants/state/enum_canonical_strings.py
  recidiviz/common/constants/state/state_scheduled_supervision_contact.py
  recidiviz/common/constants/state/state_supervision_contact.py
  recidiviz/persistence/database/schema/state/schema.py
  recidiviz/persistence/entity/entities_module_context_factory.py
  recidiviz/persistence/entity/state/deserialize_entity_factories.py
  recidiviz/persistence/entity/state/entities.py
  recidiviz/persistence/entity/state/entity_field_descriptions.yaml
  recidiviz/persistence/entity/state/normalized_entities.py
  recidiviz/pipelines/ingest/state/normalization/normalization_managers/scheduled_supervision_contact_normalization_manager.py
  recidiviz/pipelines/ingest/state/normalization/normalize_state_person.py
  recidiviz/pipelines/ingest/state/validator.py
  recidiviz/tests/persistence/database/schema/state/schema_test.py
  recidiviz/tests/persistence/database/schema_utils_test.py
  recidiviz/tests/persistence/entity/state/deserialize_entity_factories_test.py
  recidiviz/tests/persistence/entity/state/entities_test.py
  recidiviz/tests/persistence/entity/state/entities_test_utils.py
  recidiviz/tests/persistence/entity/state/ledger_entities_test.py
  recidiviz/tests/persistence/entity_matching/root_entity_update_merger_test.py
  recidiviz/tests/pipelines/ingest/state/expected_output_helpers_test.py
  recidiviz/tests/pipelines/ingest/state/normalization/normalization_managers/scheduled_supervision_contact_normalization_manager_test.py
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
  recidiviz/tools/looker/__generated__/dashboards/normalized_state/normalized_state_person.dashboard.lookml
  recidiviz/tools/looker/__generated__/dashboards/state/state_person.dashboard.lookml
  recidiviz/tools/looker/__generated__/explores/normalized_state/normalized_state_person.explore.lkml
  recidiviz/tools/looker/__generated__/explores/state/state_person.explore.lkml
Owners: @Recidiviz/doppler

Moving over to branch to clean up files (Recidiviz/recidiviz-data#47710)
  .pre-commit-config.yaml
Owners: none

[US_PA] Revise PK in dbo_tblInmTestScoreHist and add config for new staff roster (Recidiviz/recidiviz-data#47752)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
Owners: @Recidiviz/doppler-codeowners

[US_MO] Add YAMLs for TAK243 and TAK244 (Recidiviz/recidiviz-data#47759)
  recidiviz/tools/looker/__generated__/dashboards/raw_data/us_mo/us_mo_raw_data_person_details.dashboard.lookml
  recidiviz/tools/looker/__generated__/explores/raw_data/us_mo/us_mo_raw_data_template.explore.lkml
Owners: none

[US_NY] Ingest incarceration periods (Recidiviz/recidiviz-data#47468)
  recidiviz/ingest/direct/regions/us_ny/ingest_mappings/us_ny_incarceration_period.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: none

[US_AZ] Update logic for hydrating is_violent (Recidiviz/recidiviz-data#47725)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_state_sentence.yaml
Owners: none

[raw data pruning] Add raw file sandbox import pruning support (Recidiviz/recidiviz-data#47839)
  recidiviz/ingest/direct/dataset_config.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_load_manager.py
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_file_sandbox_import.py
  recidiviz/ingest/direct/raw_data/raw_data_pruning_utils.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_load_manager_test.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_file_sandbox_import_test.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_pruning_utils_test.py
  recidiviz/tools/ingest/operations/import_raw_files_to_sandbox.py
Owners: none

[tests] Write ingest config skeleton to tmp directory in tests (Recidiviz/recidiviz-data#47698)
  recidiviz/tests/tools/ingest/development/create_ingest_config_skeleton_test.py
  recidiviz/tools/ingest/development/create_ingest_config_skeleton.py
Owners: none

[ci] add logging for flaky tests (Recidiviz/recidiviz-data#48521)
  recidiviz/tools/docs/ingest_mappings_schema_documentation_generator.py
  recidiviz/tools/docs/utils.py
Owners: none

[US_NY] Turn on incarceration population span metrics (Recidiviz/recidiviz-data#48347)
  recidiviz/pipelines/calculation_pipeline_templates.yaml
Owners: @Recidiviz/doppler

[US_IA] Remove L3 clients from SLD eligibility (Recidiviz/recidiviz-data#48529)
  recidiviz/task_eligibility/eligibility_spans/us_ia/complete_supervision_level_downgrade_request.py
Owners: none

[US_TN] remapping supervision level mappings to hydrate INTAKE (Recidiviz/recidiviz-data#45743)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
Owners: none

[deploy] fix bash boolean logic for alpha tag (Recidiviz/recidiviz-data#48533)
  recidiviz/tools/script_base.sh
Owners: none

[deploy] fix rc bash logic (Recidiviz/recidiviz-data#48534)
  recidiviz/tools/deploy/cut_release_candidate.sh
Owners: none

[US_AZ] Infer discharge status from discharge date for functional literacy programs (Recidiviz/recidiviz-data#47591)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_program_assignment.yaml
  recidiviz/ingest/direct/regions/us_az/us_az_custom_enum_parsers.py
Owners: none

[CI] Update runner images (Recidiviz/recidiviz-data#48568)
  .github/runs-on.yml
Owners: none

Adds lookml autogenerator for JII tablet app metrics (Recidiviz/recidiviz-data#47840)
  recidiviz/tools/looker/aggregated_metrics/custom_jii_tablet_app_metrics_configurations.py
  recidiviz/tools/looker/top_level_generators/custom_metrics_lookml_generator.py
Owners: none

[lineage] light mode color updates (Recidiviz/recidiviz-data#48519)
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNode.css
  frontends/admin-panel/src/components/Lineage/LineageGraph.css
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
Owners: none

[lineage] add sidebar to admin panel (Recidiviz/recidiviz-data#48517)
  frontends/admin-panel/src/components/App.tsx
Owners: none

[lineage] add stateful filtering (Recidiviz/recidiviz-data#48518)
  frontends/admin-panel/src/LineageStore/GraphHelpers.ts
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/LineageRootContext.tsx
  frontends/admin-panel/src/LineageStore/LineageStore.ts
  frontends/admin-panel/src/LineageStore/NodeFilter/ExcludeDatasetNodeFilter.ts
  frontends/admin-panel/src/LineageStore/NodeFilter/IncludeStateCodeNodeFilter.ts
  frontends/admin-panel/src/LineageStore/NodeFilter/NodeFilter.ts
  frontends/admin-panel/src/LineageStore/NodeFilter/Utils.ts
  frontends/admin-panel/src/LineageStore/UiStore.ts
  frontends/admin-panel/src/LineageStore/Utils.tsx
  frontends/admin-panel/src/LineageStore/__fixtures__/FetchNodeFixture.ts
  frontends/admin-panel/src/LineageStore/__fixtures__/GraphHelpersFixture.ts
  frontends/admin-panel/src/LineageStore/__tests__/GraphHelpers.test.ts
  frontends/admin-panel/src/LineageStore/__tests__/__snapshots__/LineageStore.test.ts.snap
  frontends/admin-panel/src/LineageStore/types.ts
  frontends/admin-panel/src/components/Lineage/GraphNode/NodeBuilder.tsx
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/GraphAutoCompleteSearch/GraphAutoCompleteSearch.css
  frontends/admin-panel/src/components/Lineage/LineageToolbar/GraphAutoCompleteSearch/GraphAutoCompleteSearch.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageToolbar.css
  frontends/admin-panel/src/components/Lineage/LineageToolbar/LineageToolbar.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/NodeFilterModal/NodeFilterModal.tsx
  frontends/admin-panel/src/components/Lineage/LineageToolbar/NodeFilterModal/NodeFilterSelect.tsx
  recidiviz/admin_panel/models/lineage_api_schemas.py
  recidiviz/common/attr_converters.py
Owners: none

[scripts] Add script to compare latest views to sandbox load of latest views (Recidiviz/recidiviz-data#47686)
  recidiviz/tools/ingest/operations/compare_raw_data.py
  recidiviz/tools/ingest/operations/compare_raw_data_latest_views.py
  recidiviz/tools/ingest/operations/constants.py
  recidiviz/tools/utils/compare_tables_helper.py
Owners: none

[deploy] Fix unbound variable (Recidiviz/recidiviz-data#47764)
  recidiviz/tools/deploy/looker_helpers.sh
Owners: none

[lineage] add view/source table detail drawer (Recidiviz/recidiviz-data#48536)
  frontends/admin-panel/package.json
  frontends/admin-panel/src/AdminPanelAPI/LineageAPI.ts
  frontends/admin-panel/src/LineageStore/UiStore.ts
  frontends/admin-panel/src/LineageStore/types.ts
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNode.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQueryGraphNodeDetailCardHeader/BigQueryGraphNodeDetailCardHeader.css
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQueryGraphNodeDetailCardHeader/BigQueryGraphNodeDetailCardHeader.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQuerySourceTableDetailCard/BigQuerySourceTableDetailCard.css
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQuerySourceTableDetailCard/BigQuerySourceTableDetailCard.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQueryViewDetailCard/BigQueryViewDetailCard.css
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailCard/BigQueryViewDetailCard/BigQueryViewDetailCard.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailDrawer.tsx
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  frontends/admin-panel/src/components/NewTabLink.tsx
  frontends/admin-panel/yarn.lock
  recidiviz/admin_panel/lineage_store.py
  recidiviz/admin_panel/models/lineage_api_schemas.py
  recidiviz/admin_panel/routes/lineage.py
Owners: none

[lineage] add downstream search (Recidiviz/recidiviz-data#48537)
  frontends/admin-panel/src/AdminPanelAPI/LineageAPI.ts
  frontends/admin-panel/src/LineageStore/GraphStore.ts
  frontends/admin-panel/src/LineageStore/LineageStore.ts
  frontends/admin-panel/src/LineageStore/UiStore.ts
  frontends/admin-panel/src/LineageStore/types.ts
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeAncestorSearchCard/GraphNodeAncestorSearchCard.css
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeAncestorSearchCard/GraphNodeAncestorSearchCard.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailDrawer.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailDrawer/GraphNodeDetailDrawer.css
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeDetailDrawer/GraphNodeDetailDrawer.tsx
  frontends/admin-panel/src/components/Lineage/GraphNode/GraphNodeExpandComponent.tsx
  frontends/admin-panel/src/components/Lineage/LineageGraph.tsx
  recidiviz/admin_panel/entrypoints/hydrate_cache.py
  recidiviz/admin_panel/lineage_store.py
  recidiviz/admin_panel/models/lineage_api_schemas.py
  recidiviz/admin_panel/routes/lineage.py
  recidiviz/tests/admin_panel/lineage_store_test.py
Owners: none

[scripts] Add primary key update validation (Recidiviz/recidiviz-data#47730)
  recidiviz/tests/tools/validate_raw_file_primary_key_updates_test.py
  recidiviz/tools/validate_raw_file_primary_key_updates.py
  recidiviz/tools/validate_source_modifications.py
  recidiviz/tools/validation/__init__.py
  recidiviz/tools/validation/git_validation_utils.py
Owners: none

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/** @Recidiviz/infra-review

# DADS-owned code

# R&D-owned code
recidiviz/persistence/**/resource_search/** @nichelle-hall @roshcagra

# Polaris-owned code
recidiviz/persistence/**/case_triage/** @Recidiviz/polaris
recidiviz/persistence/**/insights/** @Recidiviz/polaris-insights
# The JC database should never be updated anymore
recidiviz/persistence/**/justice_counts/** @Recidiviz/polaris
recidiviz/persistence/**/pathways/** @Recidiviz/polaris
recidiviz/persistence/**/workflows/** @Recidiviz/polaris-workflows

# Doppler
#  For Doppler-owned files, files with a high volume of edits are assigned to the @Recidiviz/doppler-codeowners group,
#  which assigns a single reviewer via round robin. For more critical files with a lower volume of edits, we assign the
#  @Recidiviz/doppler group which is configured so all team members are added to each review.
recidiviz/airflow/** @Recidiviz/doppler
recidiviz/big_query/** @Recidiviz/doppler
recidiviz/calculator/query/state/views/reference/product_person_external_id_helpers.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py @Recidiviz/doppler-codeowners
recidiviz/persistence/** @Recidiviz/doppler
recidiviz/pipelines/** @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
# TODO(#41554): Once all exemptions have been removed from this test file, we can remove Doppler ownership
recidiviz/tests/calculator/query/state/views/reference/workflows_opportunity_configs_test.py @Recidiviz/doppler
recidiviz/tests/calculator/query/state/views/reference/product_person_external_id_helpers_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler-codeowners
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/deployed_view_external_id_exemptions.py @ageiduschek, @Recidiviz/doppler-codeowners
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler-codeowners
