Repository Recidiviz/pulse-data, changes with the owners that CODEOWNERS names for each.
All owners: @Recidiviz/infra-review, @nichelle-hall, @roshcagra, @Recidiviz/polaris, @Recidiviz/polaris-insights, @Recidiviz/polaris-workflows, @Recidiviz/doppler, @Recidiviz/doppler-codeowners, @ageiduschek,

[raw data yaml writer] Implement updating list attributes (Recidiviz/recidiviz-data#46290)
  recidiviz/ingest/direct/raw_data/raw_data_ruamel_yaml_update.py
  recidiviz/tests/ingest/direct/raw_data/fixtures/us_ll_noValidPrimaryKeys.yaml
  recidiviz/tests/ingest/direct/raw_data/raw_data_ruamel_yaml_update_test.py
  recidiviz/tests/ingest/direct/raw_data/raw_data_yaml_writer_test.py
Owners: none

[raw data yaml writer] Update hydrate_datetime_sql_parsers to use new yaml writer (Recidiviz/recidiviz-data#46991)
  recidiviz/ingest/direct/raw_data/raw_data_yaml_writer.py
  recidiviz/tests/tools/ingest/development/hydrate_datetime_sql_parsers_test.py
  recidiviz/tools/ingest/development/hydrate_datetime_sql_parsers.py
Owners: none

[US_TX] Prioritize active record if changes made on same day (Recidiviz/recidiviz-data#47022)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_state_staff_supervisor_period.yaml
Owners: none

[pre import validations] Add distinct primary key validation (Recidiviz/recidiviz-data#46940)
  recidiviz/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator.py
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/ingest/direct/raw_data/validations/distinct_primary_key_table_validation.py
  recidiviz/ingest/direct/raw_data/validations/stable_historical_raw_data_counts_table_validation.py
  recidiviz/ingest/direct/raw_data/yaml_schema/schema.json
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation_factory.py
  recidiviz/ingest/direct/types/raw_data_import_blocking_validation_type.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator_test.py
  recidiviz/tests/ingest/direct/raw_data/raw_file_configs_test.py
  recidiviz/tests/ingest/direct/raw_data/validations/distinct_primary_key_table_validation_test.py
  recidiviz/tools/validate_source_visibility.py
Owners: @Recidiviz/doppler

[tools] Update fetch_column_values_for_state to use new raw data yaml writer (Recidiviz/recidiviz-data#47039)
  recidiviz/ingest/direct/raw_data/raw_data_ruamel_yaml_update.py
  recidiviz/ingest/direct/raw_data/raw_file_configs.py
  recidiviz/tests/ingest/direct/raw_data/fixtures/us_ll_basicData.yaml
  recidiviz/tests/ingest/direct/raw_data/fixtures/us_ll_noValidPrimaryKeys.yaml
  recidiviz/tests/tools/ingest/development/fetch_column_values_for_state_test.py
  recidiviz/tools/ingest/development/fetch_column_values_for_state.py
Owners: none

[tools] update process_eomis_txt_files to use new yaml writer (Recidiviz/recidiviz-data#47082)
  recidiviz/tools/ingest/regions/us_ar/process_eomis_txt_files.py
Owners: none

[US_MO] Hydrate custody level (Recidiviz/recidiviz-data#46914)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_tak158_tak026_incarceration_periods.yaml
Owners: @Recidiviz/doppler-codeowners

[US_NY] Ingest state person (Recidiviz/recidiviz-data#46989)
  recidiviz/ingest/direct/gating.py
  recidiviz/ingest/direct/regions/us_ny/ingest_mappings/us_ny_person.yaml
  recidiviz/tests/source_tables/update_big_query_table_schemas_test.py
Owners: none

[preimport validations] Add exemptions for distinct pk validations (Recidiviz/recidiviz-data#47139)
  recidiviz/ingest/direct/raw_data/validations/distinct_primary_key_table_validation.py
  recidiviz/tests/ingest/direct/raw_data/direct_ingest_raw_table_pre_import_validator_test.py
Owners: none

[US_MI] Add case managers to stable historical counts validation exemptions (Recidiviz/recidiviz-data#47141)
  recidiviz/ingest/direct/raw_data/validations/configs/stable_historical_counts_table_validation_config.yaml
Owners: none

[US_TN] New supervision level causing ingest to fail (Recidiviz/recidiviz-data#47150)
  recidiviz/ingest/direct/regions/us_tn/ingest_mappings/us_tn_AssignedStaffSupervisionPeriod_v2.yaml
Owners: none

[AI Exploration] Create a data lineage MCP server (Recidiviz/recidiviz-data#45722)
  Dockerfile.case-triage-pathways.dockerignore
  Dockerfile.justice-counts.dockerignore
  Pipfile
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
  recidiviz/tests/tools/mcp/__init__.py
  recidiviz/tests/tools/mcp/data_lineage/__init__.py
  recidiviz/tests/tools/mcp/data_lineage/test_data_lineage.py
Owners: @Recidiviz/doppler

[US_TN] CR (2025) - change criteria to use 'INTAKE' instead of 'UNASSIGNED' (Recidiviz/recidiviz-data#46935)
  recidiviz/task_eligibility/criteria/general/assessed_risk_low_after_intake_supervision_level.py
  recidiviz/task_eligibility/criteria/general/no_positive_drug_screens_since_intake_supervision_level.py
  recidiviz/task_eligibility/criteria/general/no_supervision_violation_report_since_intake_supervision_level.py
  recidiviz/task_eligibility/criteria/general/on_intake_for_60_days.py
  recidiviz/task_eligibility/criteria/general/on_minimum_after_intake.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_intake_group_to_compliant_reporting_2025_policy.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_minimum_group_to_compliant_reporting_2025_policy.py
  recidiviz/task_eligibility/eligibility_spans/us_tn/transfer_to_compliant_reporting_no_discretion.py
  recidiviz/tools/find_unused_bq_views.py
Owners: @Recidiviz/doppler-codeowners

[US_UT] Parse new enum values (Recidiviz/recidiviz-data#47169)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_assessment.yaml
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_supervision_contact.yaml
Owners: none

[US_MI][Workflows] Update FTRD criteria to filter to supervision sentences (Recidiviz/recidiviz-data#44547)
  recidiviz/task_eligibility/criteria/general/incarceration_not_past_projected_parole_release_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_18_months_of_upcoming_projected_parole_release_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_1_year_of_upcoming_projected_parole_release_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_7_years_of_parole_eligibility_date.py
  recidiviz/task_eligibility/criteria/general/incarceration_within_7_years_of_upcoming_projected_parole_release_date.py
  recidiviz/task_eligibility/criteria/general/supervision_not_past_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/supervision_not_past_full_term_completion_date_or_upcoming_30_days.py
  recidiviz/task_eligibility/criteria/general/supervision_not_past_full_term_completion_date_or_upcoming_90_days.py
  recidiviz/task_eligibility/criteria/general/supervision_past_full_term_completion_date.py
  recidiviz/task_eligibility/criteria/general/supervision_past_full_term_completion_date_or_upcoming_30_days.py
  recidiviz/task_eligibility/criteria/general/supervision_past_full_term_completion_date_or_upcoming_90_days.py
  recidiviz/task_eligibility/criteria/general/supervision_past_group_full_term_completion_date_or_upcoming_30_days.py
  recidiviz/task_eligibility/criteria/general/supervision_two_days_past_full_term_completion_date.py
  recidiviz/task_eligibility/eligibility_spans/us_ia/complete_early_discharge_form.py
  recidiviz/task_eligibility/eligibility_spans/us_ia/complete_supervision_level_downgrade_request.py
  recidiviz/task_eligibility/utils/general_criteria_builders.py
Owners: none

Exemption for vertexai to fix MyPy error (Recidiviz/recidiviz-data#47189)
  setup.cfg
Owners: none

[US_TX] Adding board vote data to phases (Recidiviz/recidiviz-data#46872)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_supervision_period.yaml
Owners: none

[Security] Prevent Claude Code from accessing sensitive files (Recidiviz/recidiviz-data#47165)
  .claude/settings.json
Owners: none

[US_TN] adding pruning exemption (Recidiviz/recidiviz-data#47207)
  recidiviz/ingest/direct/gating.py
Owners: none

[US_MO] Update max discharge date hydration for sentence length and sentence group length (Recidiviz/recidiviz-data#47161)
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence_group_length.yaml
  recidiviz/ingest/direct/regions/us_mo/ingest_mappings/us_mo_sentence_length.yaml
  recidiviz/tools/looker/__generated__/dashboards/raw_data/us_mo/us_mo_raw_data_person_details.dashboard.lookml
  recidiviz/tools/looker/__generated__/explores/raw_data/us_mo/us_mo_raw_data_template.explore.lkml
Owners: none

[Autogenerated] Update Pipfile.lock (Recidiviz/recidiviz-data#47178)
  Pipfile
  Pipfile.lock
  recidiviz/pipelines/dataflow_flex_setup.py
Owners: @Recidiviz/doppler

[build] adds TODO for bq pin (Recidiviz/recidiviz-data#47216)
  Pipfile
Owners: none

[pre import validations] Remove PII from error message (Recidiviz/recidiviz-data#47221)
  recidiviz/ingest/direct/raw_data/validations/distinct_primary_key_table_validation.py
  recidiviz/tests/ingest/direct/raw_data/validations/distinct_primary_key_table_validation_test.py
Owners: none

[US_AZ] Ingest Major/Minor violation flag as incident metadata (Recidiviz/recidiviz-data#47093)
  recidiviz/ingest/direct/regions/us_az/ingest_mappings/us_az_incarceration_incidents.yaml
Owners: none

[US_UT] Map new enum values (Recidiviz/recidiviz-data#47246)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_supervision_contact.yaml
Owners: none

[US_AZ] Distinction for reasons fields for different assessments (Recidiviz/recidiviz-data#47213)
  recidiviz/task_eligibility/eligibility_spans/us_az/transfer_to_administrative_supervision.py
Owners: none

[US_MI] Update COMS_Case_Notes yaml and add counter to identify_and_purge_bad_bytes (Recidiviz/recidiviz-data#47257)
  recidiviz/tools/ingest/one_offs/identify_and_purge_bad_bytes.py
Owners: none

[US_MI] CLD opp record/resident record updates (Recidiviz/recidiviz-data#47218)
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
  recidiviz/view_registry/deployed_address_schema_utils.py
Owners: none

[US_MI] Add secondary officer and dockets metadata to ED and FTRD opportunity records (Recidiviz/recidiviz-data#47029)
  recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py
  recidiviz/task_eligibility/utils/us_mi_query_fragments.py
Owners: @Recidiviz/doppler-codeowners

[Insights][RIR] Update roster ticket service copy (Recidiviz/recidiviz-data#47255)
  recidiviz/outliers/roster_ticket_service.py
  recidiviz/tests/case_triage/outliers/snapshots/snap_roster_ticket_service_test.py
Owners: none

Remove ineligible offenses from ID XCRC (Recidiviz/recidiviz-data#47275)
  recidiviz/task_eligibility/eligibility_spans/us_ix/transfer_to_xcrc_request.py
Owners: none

[Looker] Add distinct eligible client metrics to Workflows explore (Recidiviz/recidiviz-data#46994)
  recidiviz/aggregated_metrics/models/aggregated_metric_configurations.py
  recidiviz/tools/looker/aggregated_metrics/custom_workflows_metrics_configurations.py
Owners: none

[US_UT][US_AZ][US_ND] Fix everything! (Recidiviz/recidiviz-data#47291)
  recidiviz/ingest/direct/regions/us_nd/ingest_mappings/us_nd_elite_movements_incarceration_periods.yaml
Owners: none

[US_UT] Moving court probation requests to 'Submitted' tab (Recidiviz/recidiviz-data#47259)
  recidiviz/task_eligibility/utils/us_ut_query_fragments.py
Owners: none

[US_TX] Adding new address columns to ClientData (Recidiviz/recidiviz-data#47223)
  recidiviz/ingest/direct/regions/us_tx/ingest_mappings/us_tx_state_person.yaml
Owners: none

[US_UT] Map new raw text value (Recidiviz/recidiviz-data#47299)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_supervision_contact.yaml
Owners: none

[US_NE] Add tmppopcount to DCS_MVS tables (Recidiviz/recidiviz-data#47293)
  recidiviz/tools/ingest/regions/us_ne/sql_to_gcs_export_tasks.py
Owners: none

Adds generator for global provisioned user sessions lookml view (Recidiviz/recidiviz-data#47245)
  .pre-commit-config.yaml
  recidiviz/tools/looker/generate_all_lookml.py
  recidiviz/tools/looker/top_level_generators/usage_lookml_generator.py
  recidiviz/tools/looker/usage_views/__init__.py
  recidiviz/tools/looker/usage_views/global_provisioned_user_sessions_view_generator.py
Owners: none

[US_ME] Bump stable counts (Recidiviz/recidiviz-data#47217)
  recidiviz/validation/config/regions/us_me/us_me_validation_config.yaml
Owners: none

[US_UT] Add absconsion indicators (Recidiviz/recidiviz-data#47300)
  recidiviz/ingest/direct/regions/us_ut/ingest_mappings/us_ut_supervision_period.yaml
  recidiviz/ingest/direct/regions/us_ut/us_ut_custom_enum_parsers.py
Owners: none

CODEOWNERS:

# Review changes to Github workflows
.github/workflows/** @Recidiviz/infra-review

# DADS-owned code

# R&D-owned code
recidiviz/persistence/**/resource_search/** @nichelle-hall @roshcagra

# Polaris-owned code
recidiviz/persistence/**/case_triage/** @Recidiviz/polaris
recidiviz/persistence/**/insights/** @Recidiviz/polaris-insights
# The JC database should never be updated anymore
recidiviz/persistence/**/justice_counts/** @Recidiviz/polaris
recidiviz/persistence/**/pathways/** @Recidiviz/polaris
recidiviz/persistence/**/workflows/** @Recidiviz/polaris-workflows

# Doppler
#  For Doppler-owned files, files with a high volume of edits are assigned to the @Recidiviz/doppler-codeowners group,
#  which assigns a single reviewer via round robin. For more critical files with a lower volume of edits, we assign the
#  @Recidiviz/doppler group which is configured so all team members are added to each review.
recidiviz/airflow/** @Recidiviz/doppler
recidiviz/big_query/** @Recidiviz/doppler
recidiviz/calculator/query/state/views/reference/product_person_external_id_helpers.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/documentation_exemptions.py @Recidiviz/doppler
recidiviz/ingest/direct/raw_data/datetime_sql_parser_exemptions.py @Recidiviz/doppler-codeowners
recidiviz/persistence/** @Recidiviz/doppler
recidiviz/pipelines/** @Recidiviz/doppler
recidiviz/tests/ingest/direct/regions/direct_ingest_region_structure_test.py @Recidiviz/doppler
# TODO(#41554): Once all exemptions have been removed from this test file, we can remove Doppler ownership
recidiviz/tests/calculator/query/state/views/reference/workflows_opportunity_configs_test.py @Recidiviz/doppler
recidiviz/tests/calculator/query/state/views/reference/product_person_external_id_helpers_test.py @Recidiviz/doppler
recidiviz/tools/find_unused_bq_views.py @Recidiviz/doppler-codeowners
recidiviz/tools/validate_source_visibility.py @Recidiviz/doppler
recidiviz/view_registry/deployed_view_external_id_exemptions.py @ageiduschek, @Recidiviz/doppler-codeowners
recidiviz/view_registry/raw_data_reference_reasons.yaml @Recidiviz/doppler-codeowners
